.flex_authenticate{
	.fs-link{
		white-space: nowrap;
		span{
			margin: 0 -6px;
			a{
				padding: 0 6px;
				position: relative;
				+a:before{
					content: "/";
					position: absolute;
					left: -5px;
					top: -2px;
				}
			}
		}
	}
}