.ef5-sidebar-area {
	@media (max-width: 991px){
		&.ef5-blogs{
			padding-top: 0;
		}
	}
	.widget{
		margin-bottom: 50px;
	}
	.widgettitle{
		position: relative;
		display: inline-block;
		&:after{
			content: "";
			width: 17px;
			height: 2px;
			background-color: $primary_color;
			position: absolute;
			left: 100%;
			bottom: 7px;
			margin-left: 5px;
		}
	}
	.tnp-field{
		::-webkit-input-placeholder {
		    color: $primary_color;
		}
		:-moz-placeholder { /* Firefox 18- */
		    color: $primary_color;
		}
		::-moz-placeholder {  /* Firefox 19+ */
		    color: $primary_color;
		}
		:-ms-input-placeholder {
		    color: $primary_color;
		}
	}
	.wg-newsleter{
		position: relative;
		&:before{
			content: "";
			position: absolute;
			top: 50%;
			right: 15px;
			margin-top: -7px;
			width: 14px;
			height: 14px;
			background: url(../images/icons/newsletter-button.png) no-repeat 0 0;
		}
		.tnp-email{
			border-color: $primary_color;
		}
		.tnp-button{
			position: absolute;
			top: 0;
			right: 0;
			font-size: 0;
			padding: 16px 24px 17px 24px;
		}
	}

}