#ef5-sidebar-area{
	/**
	 * if has gutenberg move sidebar to bottom of content
	*/
	&.has-gtb {
		.sidebar-inner{
			margin-left: -15px;
			margin-right: -15px;
			display: flex;
			flex-wrap:wrap;
			> .widget{
				width: 100%;
				margin-left: 15px;
				margin-right: 15px;
				display: flex;
			    flex-grow: 1;
			    flex-direction: column;
				@media (min-width: $screen-md-min){
					width: calc(50% - 30px);
				}
				@media (min-width: $screen-lg-min){
					width: calc(33.333333% - 30px);
				}
				@media (min-width: $screen-xl-min){
					width: calc(25% - 30px);
				}
			}
		}
	}
}
@import 'widgets';

