.overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	@include transition();
	
}
.overlay-wrap{
	.relative{
		overflow: hidden;
	}
	.overlay{
		@media (min-width: $desktop-screen){
			@include transform(scale(1.2));
			opacity: 0;
			visibility: hidden;
		}
	}
	&:hover{
		.overlay{
			visibility: visible;
			@include opacity(1);
			@include transform(scale(1));
		}
	}
}