.ef5-donation-raised{
	.ef5-label{
		display: block;
		font-size: 18px;
		line-height: 24px;
		font-weight: 500;
		color: $HeadingColor;
	}
	.ef5-value{
		display: block;
		font-size: 40px;
		line-height: 1;
		font-weight: 700;
		color: $accent_color;
		margin-top: 20px;
	}
}

.ef5-loop-donate-info{
	.ef5-loop-donate-info-inner{
		margin-top: -15px;
		margin-bottom: -15px;
		> div {
			padding-top: 15px;
			margin-bottom: 15px;
		}
	}
	.ef5-shares{
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 500;
		color: #777;
		margin-top: 15px;
		a{
			color: #777;
			&:hover{
				color: $accent_color;
			}
		}
		.row{
			margin-left: -10px;
			margin-right: -10px;
			justify-content: center;
			> div{
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		.ef5-social {
			margin-left: -5px;
			margin-right: -5px;
			> a{
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}
}