.rs-layer .underline-white,
.rs-layer.underline-white{
	position: relative;
	display: block;
	overflow: hidden;
	&:before,&:after{
		content: "";
		width: 100%;
		height: 2px;
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: #fff;
	}
	&:before{
		left: -100%;
		@include transition(left .3s linear 0s);
	}
	&:after{
		left: 0;
		@include transition(left .6s linear 0s);
	}
	&:hover{
		&:before{
			left: 0;
			@include transition(left .6s linear 0s);
		}
		&:after{
			left: 100%;
			@include transition(left .3s linear 0s);
		}
	}
}
.rs-layer .futura-pt,
.rs-layer.futura-pt{
    font-family: 'futura-pt' !important;
}
.rs-layer.scroll-white{
	padding-left: 28px;
	position: relative;
	&:before{
		content: "";
		width: 18px;
		height: 2px;
		position: absolute;
		left: 0;
		top: calc(50% - 2px);
		background-color: #fff;
		@include transition(left .3s linear 0s);
		@media (max-width: 1599px){
			width: 12px;
		}
	}
	&:hover:before{
		left: -5px;
	}
} 
.rs-layer.underline-off{
	position: relative;
	&:after{
		content: "";
		width: 20px;
		height: 2px;
		position: absolute;
		left: 0;
		bottom: -6px;
		background-color: $primary_color;
		@include transition(width .3s linear 0s);
	}
	&:hover:after{
		width: 100%;
	}
}
body #rev_slider_1_1_wrapper .custom.tparrows{
	width: 30px;
	height: 15px;
	background-size: cover !important;
	&.tp-leftarrow{
		background: url(../images/icons/left-arrow.png) no-repeat 0 0;
		&:before{
			content: "";
		}
	}
	&.tp-rightarrow{
		background: url(../images/icons/right-arrow.png) no-repeat 0 0;
		&:before{
			content: "";
		}
	}
}
body .revslider-initialised .uranus .tp-bullet{
	box-shadow: none !important;
}
/* body #rev_slider_1_1_wrapper .uranus .tp-bullet.selected, 
body #rev_slider_1_1_wrapper .uranus .tp-bullet:hover{
    width: 20px;
    height: 20px;
    margin-left: -7px;
    margin-top: -7px;
    box-shadow: 0 0 0 1px #ffffff;
}
body #rev_slider_1_1_wrapper .uranus .tp-bullet.selected .tp-bullet-inner,
body #rev_slider_1_1_wrapper .uranus .tp-bullet:hover .tp-bullet-inner {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
} */

body .revslider-initialised .uranus .tp-bullet.selected, 
body .revslider-initialised .uranus .tp-bullet:hover{
    width: 20px !important;
    height: 20px !important;
    margin-left: -7px !important;
    margin-top: -7px !important;
}
body .revslider-initialised .uranus .tp-bullet.selected .tp-bullet-inner,
body .revslider-initialised .uranus .tp-bullet:hover .tp-bullet-inner {
    transform: scale(0.3) !important;
    -webkit-transform: scale(0.3) !important;
}