.woocommerce-checkout{}
.shipping_address{
	margin-bottom: 25px;
}

/* Ordered Table */
#order_review_heading{
	margin-top: 50px;
}
.woocommerce-checkout-review-order-table{
	border-top: $MainBorder;
	thead th{
		border-top: none;
		text-align: start;
	}
	tfoot th{
		text-align: start;
	}
	.cart-item-name-wrap{
		display: inline-block;
	}
}

/* Payment Method */
.woocommerce-checkout-payment{
	margin-top: 50px;
}
.wc_payment_methods{
	list-style: none;
	padding: 0;
	margin: 0;
	li{
		border-bottom: $MainBorder;
		label{
			margin: 15px;
			display: inline-block;
			cursor: pointer;
			img{
			}
		}
	}
	.payment_box{
		padding: 15px;
		background: #f9f9f9;
	}
}
.wc_payment_methods,
.woocommerce-shipping-methods{
	li{
		padding: 0!important;
		&:before{
			display: none!important;
		}
	}
}

#woo_pp_ec_button_checkout{
	margin-top: 30px;
}

/* Term */
.woocommerce-terms-and-conditions-wrapper{
	margin-top: 30px;
}
/* Button Process */
button[name="woocommerce_checkout_place_order"]{
	margin-top: 30px;
	float: right;
	[dir="rtl"] &{
		float: left;
	}
}