/* WooSmart Plugin */
.woosmart-icon{
	> a{
		font-size: 0;
		border: none;
		outline: none;
		background: transparent;
		cursor: pointer;
		&:before{
			content: "";
			min-width: 12px;
			height: 12px;
			display: inline-block;
			margin: 0;
		}
		&.wooscp-btn{
			&:before{
				min-width: 16px;
				background: url('../images/icons/compare.png') no-repeat center;
				background-size: contain;
			}
			&.wooscp-btn-added:before{
				background: url('../images/icons/compare.png') no-repeat center;
				background-size: contain;
				margin-right: 0;
			}
		}
		&.woosq-btn{
			&:before{
				background: url('../images/icons/quickview.png') no-repeat center;
				background-size: contain;
			}
		}
		&.woosw-btn{
			&:before{
				min-width: 13px;
				background: url('../images/icons/wishlist.png') no-repeat center;
				background-size: contain;
			}
			&.woosw-added:before{
				font-family: $FontAwesome;
				margin-right: 0;
			}
		}

		&[class*="-adding"]:before{
			content: '\f110';
			display: block;
			@include css3-prefix('animation','spin 1s linear infinite');
		}
	}
}
// Smart Wishlist 
.woosw-area.ef5-loading {
    opacity: 1;
    visibility: visible;
    background: rgba(0, 0, 0, 0.7);
}
.wooscp_table{
	.button{
	    margin-top: 28px;
	    color: #fff;
    	background-color: $accent_color;
    	&:hover{
	    	background-color: $primary_color;
	    	color: #fff;
	    }
	}
	table td, table th{
		border: 0;
		text-align: left;
	}
}
.woosw-content-items{
	th,td{
		padding: 5px 15px;
	}
	.ef5-products-price{
		font-weight: 400;
		font-size: 14px;
	}
	.button{
	    margin-top: 28px;
	    color: #fff;
    	background-color: $accent_color;
    	&:hover{
	    	background-color: $primary_color;
	    	color: #fff;
	    }
	}
}
.woosw-list table.woosw-content-items tr td{
	padding: 10px 15px;
}
form.track_order {
	@media (min-width: $screen_md_min){
	    max-width: 712px;
	    margin: 0 auto;
        padding: 0 95px 28px 95px;
    	background: #f5f5f5;
	}
	p:not(.form-row){
		text-align: center;
		@media (min-width: $screen_md_min){
		    background: #fff;
		    margin: 0 -95px;
		    padding-bottom: 67px;
		}
	}
	p.form-row{
		margin-bottom: 22px;
		label{
			font-size: 16px;
		    margin-bottom: 12px;
		}
	}
	.form-row-first{
		margin-top: 44px;
	}
	.button{
		display: block;
	    width: 100%;
	    margin-top: 28px;
	    color: #fff;
    	background-color: $accent_color;
    	&:hover{
	    	background-color: $primary_color;
	    	color: #fff;
	    }
	}
}