.woo-filter-toggle{
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	span{
		display: inline-block;
		line-height: 1;
		margin-left: 10px;
	}
}
.ef5-woo-count-order{
	margin-bottom: 30px;
	.woocommerce-result-count,
	.woocommerce-ordering{
		margin-bottom: 15px;
	}
	select[name="orderby"]{
		border: none;
		padding: 0;
		opacity: 0;
		visibility: hidden;
		option{
			padding: 6px 0;
			cursor: pointer;
			&:hover,
			&[selected="selected"],
			&:checked{
				background: none !important;
				color: $accent_color;
			}
		}
	}
	select:-internal-list-box option:checked {
	    background: none !important;
	    color: $accent_color !important;
	}
	.select2-container.container-layout1 .select2-selection--single{
	    padding: 0 0 12px 0;
        font-size: 20px;
	    font-weight: 500;
	    color: $primary_color;
	}
	.select2-container.container-layout1{
		border-bottom-color: $primary_color;
	}
	.result-count{
		margin-left: 10px;
		.ef5-result-count{
			padding-top: 6px;
		}
	}
}
 
