.woo-filter-toggle{
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	span{
		display: inline-block;
		line-height: 1;
		margin-left: 10px;
	}
}
.ef5-woo-filters{
	select[name="orderby"]{
		border: none;
		padding: 0;
		option{
			padding: 6px 0;
			cursor: pointer;
			&:hover,
			&[selected="selected"],
			&:checked{
				background: none !important;
				color: $accent_color;
			}
		}
	}
	select:-internal-list-box option:checked {
	    background: none !important;
	    color: $accent_color !important;
	}
}
