.woo-filter-toggle{
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	span{
		display: inline-block;
		line-height: 1;
		margin-left: 10px;
	}
}
.ef5-woo-filters{
	select[name="orderby"]{
		border: none;
		padding: 0;
		option{
			padding: 6px 0;
			cursor: pointer;
			&:hover,
			&[selected="selected"],
			&:checked{
				background: none !important;
				color: $accent_color;
			}
		}
	}
	select:-internal-list-box option:checked {
	    background: none !important;
	    color: $accent_color !important;
	}
	/* .select2 .select2-selection--single .select2-selection__rendered {
	    font-weight: 500;
	    line-height: 1.4;
	    position: relative;
	    min-height: 30px;
	    padding: 7px 32px 4px 0;
	    border-bottom: 1px solid $primary_color;
	    overflow: visible;
	}
	.select2 .select2-selection--single .select2-selection__arrow {
		position: absolute;
	    top: 50%;
	    right: 1px;
	    margin-top: -7px;
	    width: 14px;
	    height: 14px;
	    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxNHB4IiBoZWlnaHQ9IjE0cHgiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTQgMTQiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxwb2x5Z29uIHBvaW50cz0iNywxMC43NzMgMS41MzEsNi4zOTggMi40NjksNS4yMjcgNyw4Ljg1MSAxMS41MzEsNS4yMjcgMTIuNDY5LDYuMzk4ICIvPjwvZz48cmVjdCBmaWxsPSJub25lIiB3aWR0aD0iMTQiIGhlaWdodD0iMTQiLz48L3N2Zz4=) no-repeat right center;
	} */
}
