/* Loop Products */
.products{
	padding: 0;
	margin: $grid-gutter-width / -2;
	list-style: none;
	@include d-flex();
	> .product{
		padding: $grid-gutter-width / 2;
		float: none;
		margin: 0;
		flex: 0 0 100%;
		max-width: 100%;
		position: relative;
		background: $white;
		@include transition();
	}
	/* Columns */
	@media (min-width: $screen-md-min){
		&.columns-2,
		&.columns-4,
		&.columns-3,
		&.columns-5,
		&.columns-6{
			> .product{
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}
	@media (min-width: $screen-lg-min){
		&.columns-3{
			> .product{
				flex: 0 0 33.3333333333%;
    			max-width: 33.3333333333%;
			}
		}
		&.columns-4{
			> .product{
				flex: 0 0 25%;
				max-width: 25%;
			}
		}
		&.columns-5{
			> .product{
				flex: 0 0 20%;
				max-width: 20%;
			}
		}
		&.columns-6{
			> .product{
				flex: 0 0 16.6666667%;
				max-width: 16.6666667%;
			}
		}
	}

	+ .ef5-loop-pagination .nav-links{
		justify-content: center;
	}
}


.ef5-wc-loop-images{
	min-height:200px;
	@include d-flex();
	align-items: center;
	justify-content: center;
}

.ef5-wc-loop-img{
	position: relative;
	overflow: hidden;
	.slick-arrow{
		background-color: transparent;
		position: absolute;
		top: 50%;
		margin-top: -30px;
		padding: 20px 10px;
		visibility: hidden;
		opacity: 0;
		@include transition();
		span{
			width: 10px;
			height: 20px;
			display: block;
		}
	}
	.slick-prev{
		left: 0;
		z-index: 1;
		span{
			background: url('../images/icons/prev.png') no-repeat center center ;
			background-size: contain;
		}
	} 
	.slick-next{
		right: 0;
		span{
			background: url('../images/icons/next.png') no-repeat center center ;
			background-size: contain;
		}
	}
}
.wc-loop-content-wrap{
	padding: 20px 25px;
}
.ef5-loop-product-title{
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 5px;
	a:hover{
		color: $link_color;
	}
}
.wc-loop-rating-price{
	@include d-flex();
	justify-content: space-between;
    align-items: center;
    >*{
    	flex: 0 0 auto;
    }
}
.ef5-loop-product-add-to-cart{
	margin-top: 17px;
	@include d-flex();
	justify-content: space-between;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    height: 0;
	.add_to_cart_button,
	.added_to_cart,
	.product_type_grouped,
	.product_type_external{
		flex: 0 0 auto;
	    padding: 0;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 500;
		line-height: 24px;
		background: transparent;
		position: relative;
		color: $link_color;
		&:after{
			position: absolute;
			content: "";
			width: 18px;
			height: 1px;
			left: 0;
			bottom: 0;
			background: $link_color;
			@include transition(width .3s ease);
		}
		&:hover{
 			color: $link_color;
 			&:after{
 				width: 100%;
 			}
		}
	}
	.cqw-wrap{
		flex: 0 0 auto;
	}
	.cqw-wrap-inner{
		margin: 0 -4px;  
		@include d-flex();
		.woosmart-icon{
			flex: 0 0 auto;
			margin: 0 4px;
			a{
				display: block;
				text-align: center;
			}
		}
	}
}
.add_to_cart_button{
	&.loading{
		@include opacity(0.7);
		&:before{
			display: inline-block;
			content: "\f021" !important;
			font-family: $FontAwesome;
			margin-right: 10px;
			@include animation('a 2s infinite linear');
			[dir="rtl"] &{
				margin-right: 0;
				margin-left: 10px;
			}
		}
	}
	+ .added_to_cart:before{
		font-family: $FontAwesome;
		content: "\f07a\00a0\00a0";

	}
}

.ef5-loop-products{
	&:hover{
		.ef5-wc-loop-img .slick-arrow{
			visibility: visible;
			opacity: 1;
		}
		.wc-loop-content-wrap{
			@include transform(translateY(-40px));
		}
		.ef5-loop-product-add-to-cart{
			margin-top: 17px;
			visibility: visible;
		    opacity: 1;
		    height: 0;
		}
	}
}