$single_gallery_large_w: $theclick_product_single_image_w;
$container_w: 1200;
$single_gallery_default_width: #{(($single_gallery_large_w+30)/$container_w)*100%};
$summary_w: calc(100% - #{$single_gallery_default_width});
$gallery_thumbnail_space : #{$theclick_product_gallery_thumbnail_space}px;

@import "single_gallery";
@import "single_gallery_horizontal";
@import "single_gallery_vertical";

/* Single Product */
.ef5-wc-img-summary{
	@include d-flex();
	justify-content: center;
	margin: -20px;
	@media( max-width: 1199px){
		margin: -15px;
	}
	.ef5-product-gallery-wrap{
		flex: 0 0 auto;
		width: #{$single_gallery_large_w}px;
		max-width: 100%;
		@media (min-width: $screen-lg-min){
			flex: 0 0 50%;
			width: 50%;
			max-width: 50%;
		}
	}
	.summary.entry-summary{
		flex: 0 0 100%;
		max-width: 100%;
		@media (min-width: $screen-lg-min){
			flex-basis: 0;
			flex-grow: 1;
		}
	}
	> div {
		padding: 20px;
		@media( max-width: 1199px){
			padding: 15px;
		}
	}
	.ef5-product-gallery-inner{
		position: relative;
	}
	+ .woocommerce-tabs {
		margin-top: 75px;
	}

	.wc-badges{
		position: absolute;
		z-index: 1;
		top: $grid-gutter-width / 2;
		left: $grid-gutter-width / 2;
		[dir="rtl"] &{
			left: auto;
			right: $grid-gutter-width / 2;
		}
	}
	&.product-style-gallery{
		.ef5-product-gallery-wrap{
			flex: 0 0 100%;
			width: 100%;
			max-width: 100%;
		}
	}
}

/* Single Product */
.product-single-title{
	padding-bottom: 20px;
}
.woocommerce-product-rating{
	padding-bottom: 16px;
	@include d-flex();
    justify-content: flex-start;
    align-items: center;
	.woocommerce-review-link{
		padding: 0 20px;
		margin-top: -5px;
	}
}
.woocommerce-product-details__short-description{
	margin-bottom: 35px;
	padding-bottom: 30px;
	border-bottom: $MainBorder;
	.product-type-grouped &{
		margin-bottom: 0;
		border-bottom: 0;
	}
}

/* Product Add to Cart Form */

form.cart,
.woocommerce-variation-add-to-cart{
	@include d-flex();
	margin: -5px;
	> * {
		margin: 5px;
	}
	table td, table th{
		border: 0;
	}
	.quantity{
		@include d-flex();
		flex: 0 0 100%;
		width: 100%;
		align-items: center;
		margin-bottom: $grid-gutter-width;
		.screen-reader-text{
			display: inline-block;
			width: auto;
			height: auto;
			position: relative;
			margin: 0 $grid-gutter-width / 2 0 0;
			text-transform: uppercase;
		}
		input{
			text-align: center;
		}
	}
	.single_add_to_cart_button {
		padding: 12.5px 25px;
		color: #fff;
	    background-color: $primary_color;
	    margin-right: 20px;
	    &:hover{
	    	background-color: $accent_color;
	    	color: #fff;
	    }
		&.disabled{
			@include opacity(0.5);
			cursor: not-allowed;
		}
	}
	.woosmart-btn > *{
		width: 40px;
		height: 40px;
		padding: 0;
		text-align: center;
		font-size: 0;
		&:before{
			font-family: $FontAwesome;
			font-weight: 300;
			font-size: 15px;
			@include center-align();
		}
		// wishlist
		&.woosw-btn:before{
			content: "\f004";
		}
		// Compare
		&.wooscp-btn:before{
			content: "\f021";
		}
	}
	&.grouped_form{
		table.woocommerce-grouped-product-list{
			margin-bottom: 26px;
		}
	}
}

table.variations{
	border: none;
	margin-bottom: 10px;
	td{
		border: none;
		padding: 0 0 10px 0;
		&.label{
			max-width: 100px;
			min-width: 60px;
		}
		&.value{
			display: flex;
			flex-wrap: wrap;
			align-items:center;
		}
	}
	select{
		cursor: pointer;
		&:hover,
		&:focus,
		&:active{
			@include css3-prefix('box-shadow','none !important');
		}
	}
	select#pa_color,
	select#pa_size {
		display: none;
	}
	.auto_refill-element{
		margin-bottom: 10px;
	} 
	.single-color-att {
	    width: 28px;
	    height: 28px;
	    background-color: #fafafa;
	    display: inline-block;
	    margin-right: 10px;
	    border-radius: 50%;
	    position: relative;
	    line-height: 28px;
	    text-align: center;
	    font-size: 14px;
	    &.variations-img{
    	    width: 40px;
		    height: 40px;
		    line-height: 40px;
		    border-radius: 0;
	    }
	    span{
    	    visibility: hidden;
		    opacity: 0;
		    color: #fff;
		    font-weight: 400;
		    @include transition(all .3s linear 0s);
	    }
	    &:hover span, 
	    &.active span{
	    	visibility: visible;
	    	opacity: 1;
	    }
	}
	.single-size-att {
	    position: relative;
	    display: inline-block;
	    margin-right: 10px;
	    min-width: 28px;
	    height: 28px;
	    line-height: 28px;
	    padding: 0 5px;
	    font-size: 14px;
	    letter-spacing: -0.05em;
	    text-align: center;
	    border: 1px solid $MainBorderColor;
	    &.active, &:hover {
		    border-color: $primary_color;
		    background-color: $primary_color;
		    color: #fff;
		}
	}
	.reset_variations{
		display: none;
		color: $color_red;
		margin-left: 10px;
		margin-bottom: 10px;
		&[style^="visibility: visible;"]{
			display: block !important;
		}
	} 
}
table.woocommerce-grouped-product-list{
	margin-bottom: 20px;
	td{
		border-left: 0;
		border-right: 0;
		padding: 10px 0;
		.screen-reader-text{
			display: none!important;
		}
		&.woocommerce-grouped-product-list-item__label label{
			font-weight: 500;
			margin: 0;
		}
		&.woocommerce-grouped-product-list-item__price{
			text-align: end;
			.ef5-products-price.single{
				font-size: $BodyFontSize;
				font-weight: 500;
				del{
					font-weight: 400;
				}
			}
		}
	}
}
.woocommerce-grouped-product-list-item__quantity .quantity{margin-bottom: 0 !important;}

table.variations .label, 
.quantity > .screen-reader-text{
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	color: $HeadingColor;
	visibility: visible;
	@include opacity(1);
}

.stock{
	@include d-flex();
	&:before{
		font-family: $FontAwesome;
	}
	&.in-stock:before{
		content: "\f058\00a0\00a0";
		color: $color_green;
	}
	&.out-of-stock:before{
		content: "\f057\00a0\00a0";
		color: $color_red;
	}
}
.woocommerce-variation-availability .stock,
.woocommerce-product-details__short-description + .stock{
	display: none;
}

/* Product Meta */
.ef5-product-meta{
	padding-top: 30px;
	border-top: $MainBorder;
	font-size: 13px;
	margin-top: 40px;
	> * {
		display: block;
		padding: 10px 0;
		.sku,
		a{
			color: $HeadingColor;
			&:hover{
				color: $accent_color;
			}
		}
	}
	.meta-item{
		padding: 5px 0;
	}
	.ef5-heading{
		min-width: 100px;
		display: inline-block;
	}
	.meta-share{
		margin: -10px -13px;
		display: inline-block;
		> a{
			padding: 10px 13px;
			color: $MetaColor;
			&:hover{
				color: $HeadingColor;
			}
		}
	}
}
/* Product tab */
.woocommerce-tabs{
	@media (min-width: $screen-xl-min){
		width: 66.6666666667%;
		margin-left: auto;
		margin-right: auto;
		clear: both;
	}
}
.wc-tabs{
	list-style: none;
	padding: 0 0 15px;
	margin: 0 -15px 50px !important;
	position: relative;
	@include d-flex();
	justify-content: center;
	&:after{
		content: '';
		display: block;
		height: 1px;
		width: calc(100% - 30px);
		background: $MainBorderColor;
		position: absolute;
		bottom: 0;
		left: 15px;
	}
	li{
		text-transform: none;
		font-size: 18px;
		color: $HeadingColor;
		font-weight: 700;
		padding: 0 20px;
		position: relative;
		a{
			color: $HeadingColor;
			position: relative;
			z-index: 1;
			padding: 19px 0;
			@media (min-width: 576px){
				&:after{
					content: '';
					display: block;
					width: 0px;
					height: 4px;
					background: $accent_color;
					position: absolute;
					bottom: 0;
					left: 50%;
					@include transition();
				}
			}
		}

		&:hover,
		&.active{
			color: $HeadingColor;
			a{
				color: $HeadingColor;
				@media (min-width: 576px){
					&:after{
						left: 0;
						width: 100%;
					}
				}

			}
			@media (max-width: 575px){
				color: var(--accent-color);
				a{
					color: var(--accent-color);
				}
			}
		}
	}
}
.comment-respond{
	.ef5-heading{
		margin-bottom: 10px;
	}
}
.shop_attributes{
	text-align: center;
}

/* Related */
.single-product .related{
	margin: 70px 0 0;
	display: block;
	> h2{
		text-align: center;
		width: 100%;
		margin-bottom: 53px;
		@media(min-width: $screen-lg-min){
			font-size: 36px;
		}
	}
	.products:not(.owl-loaded){
	}
	.products.owl-carousel{
		display: block;
		width: 100%;
		margin: 0;
		.owl-dots{
			margin-top: 5px;
		}
		.owl-nav{
			margin: 0 -12px;
    		padding-top: 0;
			button{
				position: absolute;
				top: 35%;
				margin-top: -15px;
				background: transparent;
			    width: 30px;
			    height: 30px;
			    line-height: 30px;
			    display: inline-block;
			    padding: 0;
			    margin: 0 12px;
			    &.ef5-owl-prev{
			    	left: -80px;
			    	.ef5-owl-nav-icon{
			    		display: inline-block;
			    		&:before {
						    content: '';
						    display: block;
						    width: 14px;
						    height: 25px;
						    background: url(../images/prev-icon.png) no-repeat 0 0;
						    background-size: cover;
						}
					}
			    } 
				&.ef5-owl-next{
					right: -80px;
					.ef5-owl-nav-icon{
						display: inline-block;
						&:before {
						    content: '';
						    display: block;
						    width: 14px;
						    height: 25px;
						    background: url(../images/next-icon.png) no-repeat 0 0;
						    background-size: cover;
						}
					}
				} 
			}
		}
	}
}
.ef5-product-gallery-wrap{
	.flex-direction-nav{
		a.flex-prev,
		a.flex-next{
			background-color: transparent;
		    display: inline-block;
		    width: 25px;
		    height: 25px;
		    line-height: 1;
		    
		}
		.flex-prev-icon:before,
	    .flex-next-icon:before{
	    	display: none;
	    }
	    .flex-prev-icon{
	    	background: url(../images/prev-icon.png) no-repeat center center;
		    background-size: contain;
		    width: 25px;
		    height: 25px;
		    display: inline-block;
	    }
		.flex-next-icon{
			background: url(../images/next-icon.png) no-repeat center center;
		    background-size: contain;
		    width: 25px;
		    height: 25px;
		    display: inline-block;
		}
	}
	.wc-gallery-sync.thumbnail_v{
		.flex-prev-icon,
		.flex-next-icon{
			@include transform(rotate(90deg));
		}
		.flex-prev-icon{
	    	background: url(../images/prev-icon-white.png) no-repeat center center;
	    	background-size: contain;
		    width: 25px;
		    height: 25px;
		    display: inline-block;
	    }
		.flex-next-icon{
			background: url(../images/next-icon-white.png) no-repeat center center;
			background-size: contain;
		    width: 25px;
		    height: 25px;
		    display: inline-block;
		}
		
	}
}
.single-product{
	.woosb-bundled{
		margin-top: -10px;
	}
	.product-sharing{
		margin-top: 15px;
	}
	.woosb-products{
		border: 0;
		.woosb-product{
			border: 0;		
		}
	} 
	.woobt-wrap .woobt-products.woobt-table{
		margin-top: -20px;
	}
	.woobt-products{
		border: 0;			
		.woobt-product > td{
			border: 0;		
		}
	}

}
.product-style-gallery{
	.ef5-single-product-gallery-wraps-inner{
		overflow: visible;
	}	
}

.main-img-gallery{
	.slick-arrow {
	    position: absolute;
	    bottom: -44px;
	    font-size: 0;
	    text-align: center;
	    border: none;
	    z-index: 1;
	    padding: 5px 8px;
	    color: $primary_color;
	    background-color: transparent;
	}
	.slick-prev {
	    left: calc(50% - 30px);
	    background: url(../images/prev-icon.png) no-repeat center center;
	    background-size: contain;
	    width: 25px;
	    height: 25px;
	    display: inline-block;
	}
	.slick-next {
	    right: calc(50% - 30px);
        background: url(../images/next-icon.png) no-repeat center center;
	    background-size: contain;
	    width: 25px;
	    height: 25px;
	    display: inline-block;
	}
	 
}
