$thumbnail_large_w: $theclick_product_single_image_w;
$thumbnail_w : $theclick_product_gallery_thumbnail_w;
$gallery_w: calc(100% - #{$thumbnail_large_w + $thumbnail_w + $theclick_product_gallery_thumbnail_space}px);

.ef5-wc-img-summary.thumbnail_v{
	.ef5-product-gallery-wrap{
		@media (min-width: $screen-lg-min){
			flex : 0 0 50%;
			width: 50%;
			max-width: 100%;
		}
		/* @media (min-width: $screen-md-max){
			flex : 0 0 100%;
			width: 100%;
			max-width: 100%;
		} */
	}
	.ef5-product-gallery-inner{
		@include d-flex();
		margin-left: #{$theclick_product_gallery_thumbnail_space/-2}px;
		margin-right: #{$theclick_product_gallery_thumbnail_space /-2}px;
	}
	.ef5-single-product-gallery-wraps-inner{
		position: relative;
		overflow: hidden;
	}
	.ef5-single-product-gallery-wraps,
	.wc-gallery-sync{
		padding-left: #{$theclick_product_gallery_thumbnail_space /2}px;
		padding-right: #{$theclick_product_gallery_thumbnail_space /2}px;
	}
	.ef5-single-product-gallery-wraps{
		flex: 0 0 80%;
		width: 80%;
		&.thumb-left{
			order: 2;
		}
	}
	.wc-gallery-sync{
		flex: 0 0 20%;
		width: 20%;
	}
	.wc-gallery-sync{
		margin-top: 0;
	}
	.wc-gallery-sync-slide{
		float: none !important;
		margin-bottom: $gallery_thumbnail_space;
	}
	.ef5-img{
		width: 100%;
	}
	.wc-gallery-sync .flex-direction-nav{
		a{
			left: 50%;
			@include transform(translate(-50%,0));
		}
		.flex-prev{
			top: 15px;
			.flex-prev-icon:before{
				content: "\f106";
			}
		}
		.flex-next{
			top: auto;
			bottom: 15px;
			.flex-next-icon:before{
				content: "\f107";
			}
		}
	}
}

.main-img-sticky{
	>div{
		margin-bottom: $gallery_thumbnail_space;
	}
	.woocommerce-product-gallery__image{
		/* &:after{
			content: "";
			background: rgba(0,0,0,0.5);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			@include transition(opacity .3s linear 0s);
		} */
		img{
			width: 100%;
		}
		a{
			display: block;
			position: relative;
			&:before{
			    content: "\f117";
		        font-family: Flaticon;
    			font-weight: 300;
    			font-size: 24px;
			    display: block;
			    background: #fff;
			    position: absolute;
			    left: 50%;
			    margin-left: -15px;
			    top: 50%;
			    margin-top: -15px;
			    z-index: 1;
			    @include transform(scale(0));
			    @include transition(all .3s linear 0s); 
			}
			&:after{
			    content: "";
				background: rgba(0,0,0,0.5);
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				opacity: 0;
				@include transition(opacity .3s linear 0s);
			}
			&:hover{
				&:before{
					@include transform(scale(1));
				}
				&:after{
					opacity: 1;
				}
			}
		}
		 
	} 
}
.wc-gallery-sticky-wrap{
	padding-left: #{$theclick_product_gallery_thumbnail_space /2}px;
	padding-right: #{$theclick_product_gallery_thumbnail_space /2}px;
}