.ef5-single-product-gallery-wraps-inner{
	position: relative;
	overflow: hidden;
}
.woocommerce-product-gallery__image--placeholder{
	text-align: center;
}
.woocommerce-product-gallery{
	> * {
		&.ef5-after-wc-gallery{
			order: 1000;
		}
	}
	.woocommerce-product-gallery__wrapper{
		margin: 0;
	}
	.woocommerce-product-gallery__image {
		text-align: center;
		> a{
			display: block;
			> img{
				width: 100%;
			}
		}
	}
	// Default layout
	//&.ef5-simple{
		.flex-control-nav{
			li{
				flex: 0 0 20%;
			}
			img{
				min-width: unset;
				width: 100%;
			}
		}
	//}
	.flex-viewport,
	.flex-control-thumbs img{
		border: 1px solid #ABABAB;
	}
}
.wc-gallery-sync{
	margin-top: 15px;
 	img{
		border: 1px solid #ABABAB;
	}
}