/**
	 * Price filter widget
	 */
	.widget_price_filter {
		input[name="min_price"],
		input[name="max_price"],
		input[name="orderby"],
		.clear{
			display: none;
		}
		.price_slider {
			margin-bottom: 1em;
		}
		.price_slider_amount {
			@include d-flex();
			align-items: center;
			justify-content: space-between;
			button,
			.price_label{
				max-width: 50%;
			}
			button{
				order: 2;
			}
		}
		.ui-slider {
			position: relative;
			text-align: left;
			margin-left: 0.5em;
			margin-right: 0.5em;
		}

		.ui-slider .ui-slider-handle {
			position: absolute;
			z-index: 2;
			width: 1em;
			height: 1em;
			background-color: $accent_color;
			border-radius: 1em;
			cursor: ew-resize;
			outline: none;
			top: -0.3em;
			/* rtl:ignore */
			margin-left: -0.5em;
		}

		.ui-slider .ui-slider-range {
			position: absolute;
			z-index: 1;
			font-size: 0.7em;
			display: block;
			border: 0;
			border-radius: 1em;
			background-color: $accent_color;
		}

		.price_slider_wrapper .ui-widget-content {
			border-radius: 1em;
			background-color: $primary_color;
			border: 0;
		}

		.ui-slider-horizontal {
			height: 0.5em;
		}

		.ui-slider-horizontal .ui-slider-range {
			top: 0;
			height: 100%;
		}

		.ui-slider-horizontal .ui-slider-range-min {
			left: -1px;
		}

		.ui-slider-horizontal .ui-slider-range-max {
			right: -1px;
		}
	}

	/**
	 * Rating Filter Widget
	 */
	.widget_rating_filter ul {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none outside;

		li {
			@include clearfix();
			padding: 0 0 1px;
			list-style: none;

			a {
				padding: 1px 0;
				text-decoration: none;
			}

			.star-rating {
				float: none;
				display: inline-block;
			}
		}

		li.chosen a::before {
			//@include iconbefore( '\e013' );
			//color: $red;
		}
	}