.ef5-owl-wrap .ef5-owl .owl-stage-outer{
	margin: 0 -50px;
	padding: 0;
}
.ef5-owl-nav-style-theclick-1{
	.ef5-owl-nav-button{
		background: transparent;
		width: 40px;
		height: 40px;
		line-height: 40px;
		color: #c5c5c5;
		font-size: 40px;
		&:hover{
			background: transparent;
			color: $accent_color;
		}
	}
	.ef5-owl-prev .ef5-owl-nav-icon:before{
		content: "\f103";
		font-family: $FontTheClick;
	}
	.ef5-owl-next .ef5-owl-nav-icon:before{
		content: "\f104";
		font-family: $FontTheClick;
	}
	&.ef5-owl-nav-pos-vertical.outside{
		@media (min-width: 1366px){
			left: -103px;
			right: -103px;
		}
		@media (min-width: 1280px) and (max-width: 1360px){
			left: -65px;
			right: -65px;
		}
		@media (min-width: 1200px) and (max-width: 1279px){
			left: 0;
			right: 0;
		}
	}
}