.ef5-owl-wrap .ef5-owl .owl-stage-outer{
	margin: 0;
	padding: 0;
}
.ef5-posts .ef5-owl-dots .ef5-owl-dot {
    width: 6px;
	height: 6px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(255,255,255,0);
    -webkit-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    background: transparent;
    span{
	    width: 100%;
    	height: 100%;
    	background: var(--primary-color);
    	border-radius: 50%;
    	-webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
    	transition: background-color 0.3s ease, transform 0.3s ease;
    }
    &:hover,&.active{
    	width: 20px;
	    height: 20px;
	    margin-left: -7px;
	    margin-top: -7px;
    	box-shadow: 0 0 0 2px #ffffff;
	    border: none;
	    border-radius: 50%;
	    background: transparent;
    	span{
	    	transform: scale(0.3);
	    	-webkit-transform: scale(0.3);
		    box-shadow: 0 0 0 2px #ffffff;
		    border: none;
		    border-radius: 50%;
		    background: transparent;
		}
    }
}
.ef5-owl-nav.ef5-owl-nav-style-default{
	margin: 0 -12px;
	padding-top: 0;
	.ef5-owl-nav-button {
		background: transparent;
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	    display: inline-block;
	    padding: 0;
	    margin: 0 12px;
	    &:hover{
			background: transparent;
			color: $accent_color;
		}
	}
	.ef5-owl-next .ef5-owl-nav-icon:before {
	    content: '';
	    display: block;
	    width: 14px;
	    height: 25px;
	    background: url(../images/next-icon.png) no-repeat 0 0;
	    background-size: cover;
	}
	.ef5-owl-prev .ef5-owl-nav-icon:before{
	    content: '';
	    display: block;
	    width: 14px;
	    height: 25px;
	    background: url(../images/prev-icon.png) no-repeat 0 0;
	    background-size: cover;
	}
}
.owl-num-count{
	font-size: 24px;
	line-height: 31px;
}
.ef5-owl-nav-style-theclick-1{
	.ef5-owl-nav-button{
		background: transparent;
		width: 40px;
		height: 40px;
		line-height: 40px;
		color: #c5c5c5;
		font-size: 40px;
		&:hover{
			background: transparent;
			color: $accent_color;
		}
	}
	.ef5-owl-prev .ef5-owl-nav-icon:before{
		content: "\f103";
		font-family: $FontTheClick;
	}
	.ef5-owl-next .ef5-owl-nav-icon:before{
		content: "\f104";
		font-family: $FontTheClick;
	}
	&.ef5-owl-nav-pos-vertical.outside{
		@media (min-width: 1366px){
			left: -103px;
			right: -103px;
		}
		@media (min-width: 1280px) and (max-width: 1360px){
			left: -65px;
			right: -65px;
		}
		@media (min-width: 1200px) and (max-width: 1279px){
			left: 0;
			right: 0;
		}
	}
}
.ef5-owl-nav-style-theclick-1{
	.ef5-owl-nav-button{
		background: transparent;
		width: 40px;
		height: 40px;
		line-height: 40px;
		color: #c5c5c5;
		font-size: 40px;
		&:hover{
			background: transparent;
			color: $accent_color;
		}
	}
	.ef5-owl-prev .ef5-owl-nav-icon:before{
		content: "\f103";
		font-family: $FontTheClick;
	}
	.ef5-owl-next .ef5-owl-nav-icon:before{
		content: "\f104";
		font-family: $FontTheClick;
	}
	&.ef5-owl-nav-pos-vertical.outside{
		@media (min-width: 1366px){
			left: -103px;
			right: -103px;
		}
		@media (min-width: 1280px) and (max-width: 1360px){
			left: -65px;
			right: -65px;
		}
		@media (min-width: 1200px) and (max-width: 1279px){
			left: 0;
			right: 0;
		}
	}
}