.author-box{
	border-top: 1px solid $MainBorderColor;
	padding-top: 30px;
	padding-bottom: 10px;
	.author-avatar{
		margin-bottom: 20px;
		img{
			max-width: 86px;
			border-radius: 50%;
		}
	}
	.author-info {
		margin-bottom: 20px;
	}
}