.ef5-post-item-layout-2{
	.ef5-post-item-inner{
		@include border-radius(10px);
		border: $MainBorder;
		background: $white;
	}
	.post-image,
	.overlay{
		@include border-radius(10px 10px 0 0);
	}
	.ef5-post-info{
		padding: 25px 30px;
	}
	.ef5-excerpt{
		padding-top: 15px;
		margin-bottom: 0;
	}
	.ef5-donate-progress-donor{
		padding-top: 20px;
		.ef5-donation-donor{
			color: $accent_color;
			font-weight: 500;
		}
		.ef5-donate-progress-value{
			color: #2f2f2f;
		}
		.ef5-donate-progress-bar{
			@include border-radius(5px);
			.ef5-donate-progress-bar-value{
				@include border-radius(5px);
				@include background-horizontal($darkent_accent_accent, $lightent_accent_accent);
			}
		}
	}
	.ef5-donation-amount{
		padding-top: 12px;
		.ef5-donation-raised .ef5-value{
			font-weight: 700;
			color: #777;
		}
		.ef5-donation-goal .ef5-value{
			font-weight: 700;
			color: $accent_color;
		}
	}
	.ef5-readmore{
		margin-top: 25px;
	}
}

.ef5-post-item-layout-4{
	.overlay{
		padding: 30px 30px 23px;
		@media (max-width: $screen-sm-max){
			padding: 15px;
		}
	}
	.ef5-posted-in a{
		font-size: 13px;
		color: $white;
		font-weight: 500;
		background-color: $accent_color;
		padding: 8px 15px;
		@include border-radius(5px);
		&:hover{
			background-color: $primary_color;
		}
	}
	.ef5-date a{
		color: $white;
	}
}

// Layout 5
.ef5-post-item-layout-5{
	margin-bottom: 18px;
	.ef5-content-info{
		@include transform(translate(-18px,-9px));
	}
	.ef5-grid-item-wrap:last-child &{
		margin-bottom: 0;
	}
}