.ef5-list{
	margin-bottom: $grid-gutter-width;
	display: flex;
	flex-wrap: wrap;
	margin-left: -18.5px;
	margin-right: -18.5px;
	.ef5-featured{
		flex: 0 0 44.512%;
		max-width: 44.512%;
		padding-left: 18.5px;
		padding-right: 18.5px;
	}
	.ef5-loop-info{
		flex: 0 0 55.488%;
		max-width: 55.488%;
		padding-left: 18.5px;
		padding-right: 18.5px;
	}
	 
	.ef5-heading{
		font-size: 30px;
		line-height: 38px;
		font-family: $futura-pt-medium;
	}
	.ef5-excerpt{
		font-size: 12px;
		line-height: 15px;
		color: $primary_color;
	}
}
.sticky-post{
	display: block;
	margin-bottom: 10px;
}
.sticky-post-inner{
	background: $accent_color;
	color: $white;
	padding: 5px 10px;
	font-size: 50%;
}

// Archive list
.ef5-archive{
	@include border-radius(0);
}
.ef5-loop-info{
	padding-top: 30px;
	padding-bottom: 30px;
}
.ef5-before-title{
	margin-bottom: 20px;
	font-family: $futura-pt-medium;
	a{
		font-size: 12px;
		line-height: 14px;
		text-transform: uppercase;
		color: $accent_color;
	}
}
.ef5-after-title{
	a{
		font-size: 12px;
		line-height: 14px;
		text-transform: uppercase;
		font-family: $futura-pt-light
	}
}
.ef5-loop-header{
	margin-bottom: 12px;
}
.ef5-excerpt,
.ef5-loop-footer{
	margin-bottom: 23px;
}

.view-all-wrap{
	margin-top: 75px;
}