.ef5-list{
	margin-bottom: $grid-gutter-width;
	display: flex;
	flex-wrap: wrap;
	margin-left: -18.5px;
	margin-right: -18.5px;
	.ef5-featured{
		flex: 0 0 40%;
		max-width: 40%;
		padding-left: 18.5px;
		padding-right: 18.5px;
	}
	.ef5-loop-info{
		flex: 0 0 60%;
		max-width: 60%;
		padding-left: 18.5px;
		padding-right: 18.5px;
	}
}
.sticky-post{
	display: block;
	margin-bottom: 10px;
}
.sticky-post-inner{
	background: $accent_color;
	color: $white;
	padding: 5px 10px;
	font-size: 50%;
}

// Archive list
.ef5-archive{
	background-color: #f9f9f9;
	overflow: hidden;
	@include border-radius(10px);
}
.ef5-loop-info{
	padding: 0;
}
.ef5-before-title{
	margin-bottom: 20px;
}
.ef5-loop-header{
	margin-bottom: 12px;
}
.ef5-excerpt,
.ef5-loop-footer{
	margin-bottom: 23px;
}

.view-all-wrap{
	margin-top: 75px;
}