.ef5-list{
	display: flex;
	flex-wrap: wrap;
	margin-left: -18.5px;
	margin-right: -18.5px;
	padding-bottom: 35px;
	margin-bottom: 35px;
	position: relative;
	&:after{
		content: "";
		width: calc(100% - 37px);
		height: 1px;
		background-color: $MainBorderColor;
		position: absolute;
		bottom: 0;
		left: 18.5px;
	}
	.ef5-featured{
		flex: 0 0 44.512%;
		max-width: 44.512%;
		padding-left: 18.5px;
		padding-right: 18.5px;
	}
	.ef5-loop-info{
		flex: 0 0 55.488%;
		max-width: 55.488%;
		padding-left: 18.5px;
		padding-right: 18.5px;
	}
	 
	.ef5-heading{
		position: relative;
		font-size: 30px;
		line-height: 38px;
		margin-bottom: 17px;
		font-family: $futura-pt;
		font-weight: 500;
	}
}
.sticky-post{
	display: inline-block;
    position: absolute;
    top: -40px;
    right: 0;
}
.sticky-post-inner{
	background: $accent_color;
	color: $white;
	padding: 5px 10px;
	font-size: 50%;
	position: relative;
    display: block;
    line-height: 1.3;
    font-size: 13px;
    &:before{
    	content: "";
    	position: absolute;
    	left: 0;
    	bottom: -10px;
    	width: 0; 
		height: 0; 
	    border-left: 0px solid transparent;
	    border-right: 10px solid transparent;
	    border-top: 10px solid $accent_color;
    }
}

// Archive list
.ef5-archive{
	@include border-radius(0);
}
.ef5-loop-info{
	padding-top: 17px;
	padding-bottom: 30px;
}
.ef5-before-title{
	margin-bottom: 13px;
	font-family: $futura-pt;
	font-weight: 600;
	a{
		font-size: 12px;
		text-transform: uppercase;
		color: $accent_color;
	}
}
.ef5-after-title{
	font-family: $futura-pt;
	font-weight: 500;
	a{
		font-size: 10px;
		text-transform: uppercase;
		color: $accent_color;
	}
}
.ef5-excerpt{
	font-size: 14px;
	color: $primary_color;
}
.ef5-excerpt{
	margin-bottom: 25px;
}
.ef5-loop-footer{
	margin-top: 10px;
	margin-bottom: 25px;
}

.view-all-wrap{
	margin-top: 75px;
}