.ef5-meta{
	margin: 0 -10px;
	font-size: 14px;
	line-height: 20px;
	> div {
		padding: 0 10px;
		position: relative;
		+div{
			position: absolute;
			left: 0;
			top: 10px;
			width: 2px;
			height: 2px;
			background-color: $accent_color;
			border-radius: 50%;
		}
	}
	.avatar{
		margin-right: 10px;
		[dir="rtl"] & {
			margin-right: 0;
			margin-left: 10px;
		}
	}
	.meta-icon{
		color: $MetaColor;
	}
}

/* .ef5-date a{
	color: inherit!important;
} */