.ef5-related{
	padding-top: 80px;
	border-top: 1px solid $MainBorderColor;
	margin-bottom: 140px;
	@media (max-width: 1199px){
		margin-bottom: 76px;
	}
	.ef5-featured{
		margin-bottom: 17px;
	}
	.ef5-before-title{
		font-weight: 500;
		font-size: 11px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	.ef5-heading{
		font-size: 15px;
		line-height: 19px;
		@include text-truncate-multi-line(15px,1.26666666667,2);
	}
}
.related-title{
	font-size: 15px;
	line-height: 19px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	padding: 0;
	margin: 0 0 50px;
}