.ef5-shares{
	.share-title{
		font-size: 10px;
		font-weight: 500;
		text-transform: uppercase;
		color: $accent_color;	
		@media (max-width: 767px){
			display: none;
		}
	}
	.ef5-social{
		margin: 0;
		a{
			width: 40px;
			height: 40px;
			line-height: 40px;
			border: 1px solid $MainBorderColor;
			border-radius: 50%;
			font-size: 16px;
			text-align: center;
			@include theclick_social_color();
			&:hover{
			 	@include theclick_social_color('background');
			 	@include theclick_social_color('border-color');
			 	color: #fff;
			}
		}
	}
}