.ef5-single-content,
.ef5-single-page-links{
	margin-bottom: $grid-gutter-width;
}

.ef5-single-header{
	margin-bottom: 25px;
	.ef5-before-title{
		margin-bottom: 12px;
	}
	.ef5-heading{
		font-size: 40px;
		margin-bottom: 10px;
		@media (max-width: 767px){
			font-size: 30px;
		}
	}
}
.ef5-post-extra-link{
	margin-bottom: 48px;
	ul{
		list-style: none;
		li{
			position: relative;
			padding-left: 24px;
			line-height: 21px;
			&:before{
				content: "";
				width: 12px;
				height: 6px;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -3px;
				background: url(../images/icons/list-item-arrow.png) no-repeat 0 0;
			}
			a{
				font-size: 16px;
				line-height: 21px;
				position: relative;
				&:after{
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 0;
					height: 1px;
					background: $primary_color;
					@include transition();
				}
				&:hover{
					color: $link_color;
					&:after{
						width: 100%;
					}
				}
			}
			+li{
				margin-top: 5px;
			}
		}
	}
}
.ef5-single-content{
	blockquote{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.single-col-left{
		flex: 0 0 80px;
		max-width: 80px;
	}
	.single-col-right{
		flex: 0 0 calc(100% - 80px);
		max-width: calc(100% - 80px);
	}
	
	.single-col-left{
		&.ef5-shares{
			.share-title{
				position: relative;
				margin-bottom: 10px;
				padding-bottom: 10px;	
				width: 40px;
	    		text-align: center;
				&:after{
					content: "";
					width: 20px;
					height: 1px;
					background: $MainBorderColor;
					position: absolute;
					bottom: 0;
					left: 50%;
					margin-left: -10px;
				}
			}
			.ef5-social{
				margin: 0;
				a{
					display: block;
					padding: 0;
					margin-bottom: 10px;
				}
			}
		}
	}
	h6{
		font-size: 15px;
		line-height: 24px;
		font-weight: 600;
	}
	.ef5-list-styled{
		padding-left: 10px;
		margin-bottom: 30px;
	}
}
.ef5-pwbox-inner{
	position: relative;
	input[type="submit"]{
		position: absolute;
		top: 50%;
		right: 3px;
		@include transform(translate(0, -50%));
		max-width: 120px;
		[dir="rtl"] &{
			right: auto;
			left: 3px;
		}
	}
	input[name="post_password"]{
		padding-right: 130px;
		[dir="rtl"] &{
			padding-right: inherit;
			padding-left: 130px;
		}
	}
}