@import 'default';
@import 'avatar';
@import 'blog';
@import 'loop';
@import 'featured';
@import 'post_format';
@import 'galleries';
@import 'meta';
@import 'single';
@import 'share';
@import 'author_bio';
@import 'related';
@import '404';
@import 'tags';

.st-logo{
	display: none;
	visibility: hidden;
	opacity: 0;
}