.ef5-pagetitle .parallax,
.ef5-pagetitle .parallax:before{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.ef5-pagetitle .parallax:before{
	content: '';
	display: block;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
}
.parallax{
	img{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100vw;
		@include image-fit();
	}
}