@import 'parallax';
@import 'title';
@import 'breadcrumb';
@import 'layout1';
@import 'layout2';
.ef5-pagetitle{
	position: relative;
	overflow: hidden;
	background-color: $accent_color;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	padding: 115px 0;
	color: $white;
	@media (max-width: 1199px){
		padding: 75px 0;
	}
	a{
		color: inherit;
		&:hover{
			color: rgba(255, 255, 255, 0.8)	;
		}
	}
}
.ef5-pagetitle-inner{
	position: relative;
	z-index: 1;
}

.page-desc,
.ef5-breadcrumb{
	padding-top: 10px;
}

.header-ontop{
	+ .ef5-pagetitle-wrap .ef5-pagetitle{
		padding: 267px 0 115px;
	}
}
.ef5-pagetitle-wrap + div .ef5-header.header-default{
	.header-inner-wrap{
		border-bottom: 1px solid $MainBorderColor;
	}
}
.ef5-pagetitle-wrap +.sticky-on.scrollDown{
	@include transform(translateY(0));
}