/**
 * Custom Boostrap Grid breakpoint
 * Need add it before load boostrap grid
*/
$grid-breakpoints: (
  xxs: 0,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@import 'bootstrap/bootstrap-grid';
@import 'bootstrap-theme/bootstrap-theme';
@import 'functions';
@import 'options';
@import 'variations';
@import 'localfont';

@import 'mixins';
@import 'extras';
@import 'flexslider/flexslider';
@import 'loading/loading';
@import 'hover/hover';
@import 'shapes/shapes';
@import 'extensions/extensions';
@import 'layout/layout';
@import 'typo/typo';
@import 'navigation/navigations';
@import 'form/forms';
@import 'grid/grid';
@import 'buttons/buttons';
@import 'header/header';
@import 'header-top/header-top';
@import 'menus/menus';
@import 'page-title/page-title';
@import 'content/content';
@import 'sidebar/sidebar';
@import 'widgets/widgets';
@import 'footer/footer';
@import 'comments/comments';
@import 'elements/elements';
@import 'flexuser/flexuser';
@import 'icons';
@import 'vc/extends';
@import 'woocommerce/woocommerce';

@import 'classes';
@import 'colors';
@import 'gradient';
@import 'spacing';
@import 'star_rating';
@import 'animations/animations';
@import 'owlcarousel/owlcarousel';
/**
 * Gutenberg
 *
*/
@import 'gutenberg';

$grid-wide-breakpoints: (
  xxs: 0,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1430px
) !default;

$container-wide-max-widths: (
  xxs: 0,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1430px
) !default;
// For each breakpoint, define the maximum width of the container in a media query
@mixin make-container-wide-max-widths($max-widths: $container-wide-max-widths, $breakpoints: $grid-wide-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      max-width: $container-max-width;
    }
  }
}
@if $enable-grid-classes {
  .container-wide {
    @include make-container();
    @include make-container-wide-max-widths();
  }
}