.wpb_content_element{
	margin-bottom: 0;
}
.ef5-header-top .wpb_content_element,
.ef5-header .wpb_content_element,
.ef5-footer-area .wpb_content_element{
	margin-bottom: 0 !important;
}
.vc_parallax .vc_parallax-inner{
	background-position: center;
}