.commentlist{
	list-style: none;
	padding: 0;
	margin: 0;
	@media (min-width: $screen-md-min){
		.comment-info{
			max-width: calc( 100% - #{$cmt_avatar_size + $grid-gutter-width});
		}
	}
	.comment {
		border-bottom: $cmt_border;
		// Reply Form 
		.comment-respond{
			margin: 0 0 30px 0;
		}
	}
	.comment-body{
		padding: 28px 0;
	}
	.comment-avatar{
		margin-bottom: 20px;
		@media (min-width: $screen-md-min){
			.author-info{
				display: none;
			}
		}
		@media (max-width: $screen-md-min){
			.cmt-avatar{
				max-width: 50px;
			}
		}

	}
	.comment-info {
		.author-info{
			padding-bottom: 7px;
			@media (max-width: $screen-sm-max){
				display: none;
			}
		}
		.author-name{
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
			color: $primary_color;
		}
		.comment-time{
			font-size: 11px;
			margin-left: 8px;
			padding-left: 8px;
			position: relative;
			&:after{
				content: "";
				width: 2px;
				height: 2px;
				position: absolute;
				left: -2px;
				top: 50%;
				background: $accent_color;
			}
		}
		.comment-content{
			font-size: 13px;
			line-height: 20px;
		}
	}
	.comment-metadata{
	    font-size: 10px;
	    font-weight: 500;
	    padding-top: 14px;
	    text-transform: uppercase;
	    img{
	    	max-width: 9px;
		    margin-top: 3px;
		    margin-right: 5px;
	    }
	}
	.children{
		padding: 0;
		list-style: none;
		.comment{
			&.depth-1,
			&.depth-2,
			&.depth-3,
			&.depth-4,
			&.depth-5,
			&.depth-6,
			&.depth-7,
			&.depth-8,
			&.depth-9,
			&.depth-10{
				padding-left: 20px;
				@media (min-width: $screen-lg-min){
					padding-left: #{$cmt_avatar_size * 0.65}px;
				}
			}
		}
	}
}