.ef5-btn{
	@each $name, $color in $ef5-colors{
		&.#{$name}{
			&.fill{
			    //color: $white;
			    background-color: $color;
			    &:hover{
			    	//background-color: darken($color, 10);
			    }
			}
			&.outline{
				color: $white;
				border-color: $color;
				background: transparent;
				&:hover{
			    	background-color: $color;
			    	border-color: $color;
			    	color: $white;
			    }
			}
			&.outline2{
				color: $primary_color;
				border-color: $color;
				background: transparent;
				&:hover{
			    	background-color: $color;
			    	border-color: $color;
			    	color: $white;
			    }
			}
			&.ef5-btn-hover-outline:hover{
				background: transparent;
				color: $color;
				border-color: $color;
			}
		}
	}
}