.btn-link{
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;	
	position: relative;
	color: $btn-color;
	&:after{
		content: "";
		width: 20px;
		height: 2px;
		position: absolute;
		left: 0;
		bottom: -6px;
		background: $btn-color;
		@include transition(width .3s ease);
	}
	&:hover{
		color: $btn-color;
		&:after{
			width: 100%;
		}
	}	
}

.link-shop-more{
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;	
	position: relative;
	text-transform: uppercase;
	padding-left: 28px;
	color: $btn-color;
	&:after{
		content: "";
		width: 20px;
		height: 1px;
		position: absolute;
		left: 0;
		bottom: 0;
		background: $btn-color;
		@include transition(width .3s ease);
	}
	&:hover{
		color: $btn-color;
	}	
}