/**
 * Structure of  button size
 * 1-name -- 2-padding-y -- 3-padding-x -- 4-font-size -- 5-font-weight -- 6-text-style -- 7-letter-spacing -- 8-border-radius -- 9-min-width
*/
$btn-sizes: (
	tn 5px 9px 12px 500 unset unset 2px, 
	sm 8px 9px 12px 500 unset unset 3px, 
	md 11.5px 33.5px '' '' '' '' '' 164px, 
	xmd 12px 22px 12px 700 uppercase 0.5px 3px,
	df 16px 30px 13px 700 uppercase 0.5px 4px, 
	lg 16px 30px 13px 700 uppercase 0.5px '', 
	xlg 16px 30px 13px 700 uppercase 0.5px 4px 179px,
);
@each $size in $btn-sizes {
	button.ef5-btn-#{nth($size, 1)},
  	.ef5-btn-#{nth($size, 1)} {
  		padding: nth($size, 2) nth($size, 3);
  		@if (nth($size, 4) != ''){
			font-size: nth($size, 4);
		}
		@if (nth($size, 5) != ''){
			font-weight: nth($size, 5);
		}
		@if (nth($size, 6) != ''){
			text-transform: nth($size, 6);
		}
		@if (nth($size, 7) != ''){
			letter-spacing: nth($size, 7);
		}
		@if (nth($size, 8) != ''){
			border-radius: nth($size, 8);
		}
		@if (nth($size, 9) != ''){
			min-width: nth($size, 9);
		}
    }
}
