// Default 
$btn-inner-space   : 9px 30px;
$btn-font-size     : 14px;
$btn-line-height   : 15px;
$btn-font-style    : inherit;
$btn-font-weight   : 500;
$btn-text-style    : uppercase;
$btn-letter-spacing: unset;
$btn-color         : $white;
$btn-color-hover   : $primary_color;
$btn-bg-color      : $primary_color;
$btn-bg-color-hover: $accent_color;

// Button Default 
$btn-border   : 2px solid transparent;