// Default 
$btn-inner-space   : 12px 22px 13px 22px;
$btn-font-size     : 14px;
$btn-line-height   : 15px;
$btn-font-style    : inherit;
$btn-font-weight   : 450;
$btn-text-style    : uppercase;
$btn-letter-spacing: unset;
$btn-color         : $primary_color;
$btn-color-hover   : $accent_color;
$btn-bg-color      : transparent;
$btn-bg-color-hover: transparent;

// Button Default 
$btn-border   : 1px solid transparent;