.ef5-banner-carousel-wrap{

}
.ef5-banner-carousel-1{
	.title{
		font-weight: 500;
		font-size: 52px;
		line-height: 67px;
		color: #fff;
		margin-bottom: 20px;
	}
	.bn-content-wrap{
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
		text-align: center;
		width: 100%;	
	}
}