.ef5-banner-wrap{
	.main-title a{
		display: block;
	}
}
.ef5-banner-1{
	position: relative;
	padding-left: 38px;
	@media (min-width: 1366px){
		margin-left: -38px;
	}
	@media (max-width: 575px){
		padding-left: 28px;
	}
	.main-media{
		margin-bottom: 25px;
		@media (min-width: 1200px) and (max-width: 1365px){
			.media-img{
				max-width: 520px;
			}
		}
	}
	.main-title{
		font-size: 36px;
		line-height: 46px;
		color: $HeadingColor;
		@media (max-width: 575px){
			font-size: 28px;
			line-height: 36px;
		}
		a,a:hover{
			color: inherit;
		}
	}
	.sub-title{
		font-size: 14px;
		font-weight: 600;
		line-height: 16px;
		text-transform: uppercase;
		position: absolute;
		left: 0;
		top: 0;
		@include transform(translateX(-100%) rotate(-90deg));
	    @include transform-origin(top right); 
	}
	.banner_btn_link{
		font-weight: 500;
		font-size: 18px;
		line-height: 23px;
		display: inline-block;
		margin-top: 18px;
		position: relative;
		&:hover{
			color: inherit;
			&:after{
				width: 100%;
			}
		}
		&:after{
			content: "";
			width: 20px;
			height: 2px;
			position: absolute;
			left: 0;
			bottom: -6px;
			background-color: $link_color;
			@include transition(width 0.4s);
		}
	}
}

.ef5-banner-2{
	.main-title{
		font-weight: 500;
		font-size: 40px;
		line-height: 46px;
		margin-bottom: 28px;
		a{
			max-width: 245px;
			display: inline-block;
		}
		a,a:hover{
			color: inherit;
		}
	}
	.main-media{
		position: relative;
		a{
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -30px;
			margin-left: -30px;
			display: block;
			width: 60px;
			height: 60px;
			line-height: 60px;
			background: #fff;
			text-align: center;
			border-radius: 50%;
			span{
				display: inline-block;
				line-height: 1;	
			}
			&:hover{
				background: rgba(255,255,255,0.4);
				@include transform(scale(1.2));
				.ef5-svg path{
					fill: #fff;
				}
			}
		}
	}
	.sub-title{
		font-size: 14px;
		line-height: 18px;
		font-weight: 500;
		text-transform: uppercase;
		position: absolute;
		top: 0;
		@include transform(translateX(-100%) rotate(-90deg));
	    @include transform-origin(top right); 
	}
	&.left{
		padding-left: 38px;
		.sub-title{
			left: -38px;
			@include transform(translateX(-100%) rotate(-90deg));
		    @include transform-origin(top right); 
		}
	}
	&.right{
		padding-right: 38px;
		.main-title{
			text-align: right;
		}
		.sub-title{
			right: -38px;
			@include transform(translateX(100%) rotate(90deg));
		    @include transform-origin(top left); 
		}
	}
}
.ef5-banner-3{
	position: relative;
	.gradient{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 0%, rgba(0, 0, 0, 0.372842) 61.64%, rgba(0, 0, 0, 0.7444) 99.59%);
	}
	.content-wrap{
		position: absolute;
		left: 60px;
		bottom: 60px;
		@media (max-width: 1600px){
			left: 50px;
			bottom: 50px;
		}
		@media (max-width: 1430px){
			left: 30px;
			bottom: 30px;
		}
	}
	
	.main-title{
		font-weight: 500;
		font-size: 40px;
		line-height: 46px;
		margin-bottom: 8px;
		a,a:hover{
			color: inherit;
		}
	}
	.sub-title{
		display: block;
		font-size: 18px;
		line-height: 23px;
	}
	.banner_btn_link{
		font-weight: 500;
		font-size: 18px;
		line-height: 23px;
		color: #fff;
		display: inline-block;
		margin-top: 30px;
		position: relative;
		&:hover{
			color: #fff;
			&:after{
				width: 100%;
			}
		}
		&:after{
			content: "";
			width: 20px;
			height: 2px;
			position: absolute;
			left: 0;
			bottom: -6px;
			background-color: #fff;
			@include transition(width 0.4s);
		}
	}
}
.ef5-banner-4{
	position: relative;
	/* @media (min-width: 992px){
		@include d-flex();
		align-items: center;
	}
	>div{
		@media (max-width: 1430px){
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
 */
	.main-media{
		img{
			@media (max-width: 1430px){
				width: 100%;
			}
		}
	}
	.content-wrap{
		 
	}
	
	
	.main-title{
		font-weight: 500;
		font-size: 100px;
		line-height: 1;
		margin-bottom: 50px;
		@media (max-width: 1365px){
			font-size: 70px;
			margin-bottom: 30px;
		}
		a{
			display: inline-block;
		}
		a,a:hover{
			color: inherit;
		}
	}
	.sub-title{
		font-size: 16px;
		line-height: 19px;
		font-weight: 500;
		position: relative;
		&:after{
			content: "";
			width: 20px;
			height: 2px;
			position: absolute;
			bottom: 5px;
			left: calc(100% + 10px);
			background-color: $HeadingColor;
			display: block;
		}

	}
	&.right{
		.row{
			@media (min-width: 768px){
				flex-direction: row-reverse;
			}
		}
		.content-wrap{
			text-align: right;
			margin-right: -35px;
		}
		.sub-title::after{
			left: -30px;
		}
	} 
	&.left{
		background-position: right !important;
		.content-wrap{
			margin-left: -35px;
		}
	} 
	
}