.ef5-banner-1{
	position: relative;
	padding-left: 38px;
	.main-banner{
		margin-bottom: 25px;
	}
	.main-title{
		font-size: 36px;
		line-height: 46px;
		color: $HeadingColor;
		a,a:hover{
			color: inherit;
		}
	}
	.sub-title{
		font-size: 14px;
		font-weight: 600;
		line-height: 16px;
		text-transform: uppercase;
		position: absolute;
		left: 0;
		top: 0;
		@include transform(translateX(-100%) rotate(-90deg));
	    @include transform-origin(top right); 
	    animation-name: ef5-waves2;
	    animation: ef5-waves 2.5s linear 1.9s;
	}
	.banner_btn_link{
		font-weight: 500;
		font-size: 18px;
		line-height: 23px;
		display: inline-block;
		margin-top: 18px;
		position: relative;
		&:hover{
			color: inherit;
			&:after{
				width: 100%;
			}
		}
		&:after{
			content: "";
			width: 20px;
			height: 2px;
			position: absolute;
			left: 0;
			bottom: -6px;
			background-color: $link_color;
			@include transition(width 0.4s);
		}
	}
}