.ef5-banner-1{
	position: relative;
	padding-left: 30px;
	.main-banner{

	}
	.main-title{
		font-size: 36px;
		line-height: 46px;
		color: $HeadingColor;
		a,a:hover{
			color: inherit;
		}
	}
	.sub-title{
		font-size: 14px;
		line-height: 16px;
		text-transform: uppercase;
		position: absolute;
		left: 0;
		top: 0;
		@include transform(translateX(-100%) rotate(-90deg));
	    @include transform-origin(top right); 
	}
	.banner_btn_link{

	}
}