.ef5-catalog-menu{
	@media (min-width: 1430px){
		padding-left: 45px;
	}
	ul,ol{
		list-style: none;
	}
	.catalog-parent-wrap,
	.catalog-child-wrap{
		padding-top: 30px;
	}
	.catalog-child-wrap{
		@media (min-width: 1200px){
			padding-left: 60px;
		}
	}
	.catalog-img-wrap{
		@media (min-width: 1200px){
			padding: 0;
		}
		a{
			padding: 0;
		}
	}
	.cata-subcat-title{
		font-weight: 500;
	    margin: 30px 0 10px 0;
	    text-transform: uppercase;
	}
}