.ef5-clients{
	&.client-layout-1{
		margin: 0 -80px;
	}
	.ef5-owl .owl-stage-outer{
	    margin: 0;
    	padding: 0;
	}
	.owl-stage{
		display: flex;
		flex-wrap: wrap;
		align-items:center;
		.owl-item{
			float: none;
		}
	}
}