.ef5-clients{
	@media (min-width: 320px){
		&.client-layout-1{
			margin: 0 -15px;
		}
	}
	@media (min-width: 1430px){
		&.client-layout-1{
			margin: 0 -90px;
		}
	}
	.ef5-owl .owl-stage-outer{
	    margin: 0;
    	padding: 0;
	}
	.owl-stage{
		display: flex;
		flex-wrap: wrap;
		align-items:center;
		.owl-item{
			float: none;
		}
	}
}