.ef5-countdown-layout-1{
	.ef5-countdown-bar{
		@include d-flex();
		align-items:center;
		justify-content: center;
		margin: 0 -30px;
		@media (max-width: 767px){
			margin: 0 -15px;	
		}
		.item{
			flex: 0 0 auto;
			padding: 0 30px;
			text-align: center;
			@media (max-width: 767px){
				padding: 0 15px;	
			}
		}
		.amount{
			display: block;
			font-weight: 500;
			font-size: 36px;
			line-height: 1.2777;
			@media (max-width: 767px){
				font-size: 28px;
			}
		}
		.title{
			display: block;
			font-weight: 450;
			font-size: 15px;
			line-height: 19px;
			margin-top: 10px;
			text-transform: uppercase;
			@media (max-width: 767px){
				font-size: 12px;
			}
		}
	}
}
.ef5-countdown-layout-2{
	position: relative;
	.cd-img{
		opacity: 0;
		visibility: hidden;
	}
	.overlay{
		background: rgba(0,0,0,0.15);
		z-index: 0;
	}
	.cd-content-wrap{
		position: absolute;
		top: 50%;
		width: 100%;
		@include transform(translateY(-50%));
	}
	.cd-sub-title{
	 	font-size: 14px;
		line-height: 16px;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	.cd-main-title{
		font-weight: 500;
		font-size: 40px;
		line-height: 51px;
		margin-bottom: 28px;
	}
	.link-shop-more{
		margin-bottom: 68px;
		@media (max-width: 1430px){
			margin-bottom: 38px;
		}
	}
	.ef5-countdown-bar{
		@include d-flex();
		align-items:center;
		justify-content: center;
		margin: 0 -30px;
		@media (max-width: 767px){
			margin: 0 -15px;	
		}
		.item{
			flex: 0 0 auto;
			padding: 0 30px;
			text-align: center;
			@media (max-width: 767px){
				padding: 0 15px;	
			}
			.item-inner{
				min-width: 42px;
			}
		}
		.amount{
			display: block;
			font-weight: 500;
			font-size: 36px;
			line-height: 1.2777;
			@media (max-width: 767px){
				font-size: 28px;
			}
		}
		.title{
			display: block;
			font-weight: 450;
			font-size: 15px;
			line-height: 19px;
			margin-top: 10px;
			text-transform: uppercase;
			@media (max-width: 767px){
				font-size: 12px;
			}
		}
	}
	&.text-white{
		a{
			color: #fff;
			&:before,&:after{
				color: #fff;
				background-color: #fff;
			}
			&:hover{
				color: #fff;
			}
		}
	}
}