.ef5-countdown-layout-1{
	.ef5-countdown-bar{
		@include d-flex();
		align-items:center;
		justify-content: center;
		margin: 0 -30px;
		.item{
			flex: 0 0 auto;
			padding: 0 30px;
			text-align: center;
		}
		.amount{
			display: block;
			font-weight: 500;
			font-size: 36px;
			line-height: 46px;
		}
		.title{
			display: block;
			font-weight: 450;
			font-size: 15px;
			line-height: 19px;
			margin-top: 10px;
			text-transform: uppercase;
		}
	}
}