.ef5-fancybox-1{
	text-align: center;
	.ef5-fancybox-icon{
		margin-bottom: 25px;
	}
	.ef5-fancybox-heading{
		font-weight: 500;
		font-size: 32px;
		line-height: 41px;
	}
	.ef5-fancybox-desc{
		margin-top: 15px;
		font-size: 15px;
		line-height: 24px;
	}
}
.ef5-fancybox-2{
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content: space-between;
	padding: 15px 110px;
	margin-left: -17.5px;
	margin-right: -17.5px;
	.ef5-fancybox-heading{
		flex: 0 0 auto;
		width: auto;
		padding-left: -17.5px;
		padding-right: -17.5px;
		font-size: 16px;
		line-height: 26px;
	}
	.ef5-fancybox-link{
		flex: 0 0 auto;
		width: auto;
		padding-left: -17.5px;
		padding-right: -17.5px;
		font-size: 14px;
		line-height: 16px;
		font-weight: 500;
		text-transform: uppercase;
	}
}