.ef5-fancybox-1{
	text-align: center;
	.ef5-fancybox-icon{
		margin-bottom: 25px;
	}
	.ef5-fancybox-heading{
		font-weight: 500;
		font-size: 32px;
		line-height: 41px;
	}
	.ef5-fancybox-desc{
		margin-top: 15px;
		font-size: 15px;
		line-height: 24px;
	}
}
.ef5-fancybox-2{
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content: center;
	padding: 15px 110px;
	.ef5-fancybox-heading{
		flex: 0 0 auto;
		width: auto;
		font-size: 16px;
		line-height: 26px;
	}
	.ef5-fancybox-link{
		flex: 0 0 auto;
		width: auto;
		margin-left: 35px;
		font-size: 14px;
		line-height: 16px;
		font-weight: 600;
		text-transform: uppercase;
		position: relative;
		padding-left: 28px;
		&:before{
			content: "";
			width: 20px;
			height: 1px;
			background: $primary_color;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
}