.ef5-heading-1{
	.small-heading{
		padding-bottom: 2px;
	}
	.desc{
		padding-top: 50px;
	}
}
.ef5-heading-2{
	text-align: center;
	.main-heading {
		.part2{
			color: $accent_color;
		}
		.part3{
			display: block;
		}
	}
}

.ef5-heading-3{
	.ef5-heading-icon{
		margin-bottom: 43px;
		span{
			width: 63px;
			height: 63px;
			line-height: 64px;
			background: $accent_color;
			color: $white;
			font-size: 34px;
			display: inline-block;
			@include border-radius(50%);
			box-shadow: 0 0 0 8.5px var(--accent-color-05), 0 0 0 17px var(--accent-color-03);
		}
	}
	.ef5-btn{
		margin-top: 67px;
	}
}