.ef5-newsletter-1{
	label{
		display: none;
	}
	.tnp-name{
		margin-bottom: 10px;
	}
	.tnp-email{
		border-top: 0;
		border-left: 0;
		border-right: 0;
	}
	.tnp-submit,
	.tnp-button{
		background-color: $accent_color;
	}
}