.ef5-newsletter-1{
	form{
		position: relative;
	}
	label{
		display: none;
	}
	.tnp-name{
		margin-bottom: 10px;
	}
	.tnp-email{
		border-width: 0 0 2px 0;
		border-style: solid;
	}
	.tnp-submit,
	.tnp-button{
		position: absolute;
		top: 0;
		right: 0;
		background-color: $accent_color;
	}
}