.ef5-portfolio-grid{
	.ef5-grid-item-wrap{
		margin-bottom: 30px;
		@media (min-width: 1200px){
			margin-bottom: 40px;
		}
	}
	.portfolio-grid-item{
		position: relative;
		cursor: pointer;
		.ef5-port-content{
			position: absolute;
			top: 20px;
		    left: 20px;
		    bottom: 20px;
		    right: 20px;
	        @include d-flex();
		    align-items: flex-end;
		    background-color: rgba(255,255,255,0.8);
		    padding-left: 25px;
		    padding-right: 20px;
		    padding-bottom: 17px;
		    opacity: 0;
		    visibility: hidden;
		    @include transition(all .3s ease);
		    >*{
		    	flex: 0 0 100%;
		    	max-width: 100%;
		    }
		}
		&:hover{
			.ef5-port-content{
				opacity: 1;
				visibility: visible;
			}
		}
	}
	
}