.ef5-posts-1{
	.feature-content{
		.ef5-heading{
			line-height: 38px;
			text-align: center;
		}
		.ef5-meta{
			text-transform: uppercase;
			&.meta-category{
				font-size: 11px;
				line-height: 13px;
				font-weight: 600;
				text-transform: uppercase;
				a{
					color: $link_color;
					&:hover{
						color: $link_color_hover;
					}
				}
			}
			a{
				font-size: 10px;	
			}
		}
	}
	.ef5-post-item{
		margin-bottom: 29px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.ef5-posts-2{
	.post-grid-item{
		.post-image {

		}
	}
}