.ef5-posts-carousel-1{
	.ef5-post-item-inner{
		position: relative;
	}
	.ef5-post-info{
		position: absolute;
		width: 100%;
		top: 50%;
		@include transform(translateY(-50%));
	}	
	.meta-category{
		font-size: 12px;
		line-height: 14px;
		text-transform: uppercase;
		a{
			color: #fff;
		}
	}
	.ef5-heading{
		font-size: 20px;
		line-height: 26px;
		a{
			color: #fff;
		}
	}
	.ef5-meta{
		font-size: 10px;
		line-height: 13px;
		a{
			color: #fff;
		}
	}
}