.ef5-posts-1{
	.feature-content{
		margin-top: -66px;
		padding: 0 150px 0 150px;
		.post-feature-wrap{
			position: relative;
			background-color: $white;
			padding: 20px 0 30px 0;
		}
		.ef5-heading{
			line-height: 38px;
			text-align: center;
		    margin-bottom: 15px;
		}
		.ef5-meta{
			text-transform: uppercase;
			&.meta-category{
				font-size: 11px;
				line-height: 13px;
				font-weight: 600;
				text-transform: uppercase;
			    margin-bottom: 10px;
				a{
					color: $link_color;
					&:hover{
						color: $link_color_hover;
					}
				}
			}
			a{
				font-size: 10px;	
			}
		}
	}
	.ef5-post-item{
		margin-bottom: 29px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.ef5-posts-2{
	.post-grid-item{
		.post-image {

		}
	}
}