.ef5-posts-1{
	.ef5-post-item-featured{
		padding-bottom: 20px;
		margin-bottom: 50px;
		border-bottom: 1px solid $MainBorderColor;
	}
	.feature-content{
		margin-top: -66px;
		padding: 0 90px 0 90px;
		.post-feature-wrap{
			position: relative;
			background-color: $white;
			padding: 30px 62px 26px 62px;
		}
		.ef5-heading{
			line-height: 38px;
			text-align: center;
		    margin-bottom: 15px;
		}
		.ef5-meta{
			text-transform: uppercase;
			&.meta-category{
				font-size: 11px;
				line-height: 13px;
				font-weight: 600;
				text-transform: uppercase;
			    margin-bottom: 10px;
				a{
					color: $link_color;
					&:hover{
						color: $link_color_hover;
					}
				}
			}
			a{
				font-size: 10px;	
			}
		}
	}
	.ef5-post-item{
		margin-bottom: 29px;
		&:last-child{
			margin-bottom: 0;
		}
		.meta-category{
			font-weight: 500;
    		text-transform: uppercase;
    		margin-bottom: 13px;
    		font-size: 12px;	
    		a{
				color: $link_color_hover;
				&:hover{
					color: $link_color;
				}
			}
		}
		.ef5-meta{
		    font-weight: 500;
    		text-transform: uppercase;
    		a{
				color: $link_color_hover;
				&:hover{
					color: $link_color;
				}
			}
		}  
	}
}
.ef5-posts-2{
	.post-grid-item{
		.post-image {

		}
	}
}