.ef5-posts-carousel-1{
	.ef5-post-item-inner{
		position: relative;
		&:hover{
			.ef5-featured{
				&:before{
					background-color: rgba(#e1e1e1,0.7);
				}
			}
			a{
				color: $darkent_accent_accent;
				&:hover{
					color: $link_color;
				}
			}
			.ef5-meta > div + div:before{
				background-color: $darkent_accent_accent;
			}
		}
	}
	.ef5-featured{
		position: relative;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(#303030,0.5);
			@include transition(all .3s linear 0s);
		}
	}
	.ef5-post-info{
		position: absolute;
		width: 100%;
		top: 50%;
		padding: 0 23px;
		@include transform(translateY(-50%));
		@media (max-width: 767px){
			padding: 0 15px;
		}
	}	
	a{
		color: #fff;
		&:hover{
			color: $link_color;
		}
	}
	.meta-category{
		font-size: 12px;
		line-height: 14px;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	.ef5-heading{
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 30px;
	}
	.ef5-meta{
		font-size: 10px;
		line-height: 13px;
		text-transform: uppercase;
		> div + div:before{
			top: 6px;
			background-color: #fff;
			@include transition(all .3s linear 0s);
		}
	}
}
.ef5-posts-carousel-2{
	.ef5-posted-in{
		font-size: 11px;
		line-height: 13px;
		text-transform: uppercase;
		margin-bottom: 10px;
		margin-top: -2px;
		a{
			color: #888;
			&:hover{
				color: $link_color;
			}
		}
	}
	.ef5-heading{
		font-size: 16px;
		line-height: 21px;
	}
	@media (max-width: 767px){
		.post-image{
			margin: 0 auto 20px auto;
		}
		.col-content{
			text-align: center;
		}
	}
}
.ef5-posts-carousel-3{
	margin-left: -50px;
	width: calc(100% + 100px);
}