.ef5-product-carousel{

}
.ef5-product-carousel-1{
	.title-shop-more{
		margin-bottom: 50px;
	}
	.ef5-post-item-inner{
		position: relative;
	}
	.ef5-owl-item-title{
		position: absolute;
		top: 0;
		width: 100%;
		padding: 25px;
	}
	.ef5-owl-product-add-to-cart{
		position: absolute;
		bottom: 0;
	}
}