.ef5-product-grid{
	.ef5-grid-item-wrap{
		margin-bottom: 45px;
	}
	.view-all-wrap{
		margin-top: 7px;
	}
}
.ef5-product-grid-2{
	.title-wrap{
		.title{
			font-weight: 300;
			font-size: 70px;
			line-height: 1.2857;
			@media (min-width: 1200px){
				max-width: 266px;
			}
			@media (max-width: 1430px){
				font-size: 60px;
			}
		}
		.desc{
			margin-top: 50px;
			font-size: 20px;
			line-height: 30px;
		}
		&:after{
			content: "";
			width: 40px;
			height: 2px;
			background: $primary_color;
			position: absolute;
			left: 20px;
			bottom: 37px;
		}
	}
}