.ef5-social{
	margin: 0 -10px;
	> *{
		padding: 0 10px;
	}
	.title-icon {
		padding-right: 10px;
		[dir="rtl"] &{
			padding-right: 0;
			padding-left: 10px;
		}
	}
}

.apsc-icons-wrapper{
	&.apsc-theme-1{
		margin: -5px;
		.apsc-each-profile{
			margin: 0;
			padding: 5px;
		    min-height: 80px;
    		width: 80px;
    		font-family: $futura-pt-book;
    		a{
    			padding: 22px 5px;
    			color: $link_color !important;
    			background-color: #fff;
		    	border: $MainBorder;
		    	@include box-shadow('none');
		    	&:before{
		    		content: none !important;
		    	}
		    	&:hover{
		    		color: $link_color_hover !important;
		    		@include transform(translateY(0));
		    	}
    		}
		}
		.social-icon{
			line-height: 1;
			.fa,i{
				font-size: 16px;
				line-height: 24px;
			}
		}  
		.apsc-count{
			font-size: 10px;
			line-height: 14px;
			padding: 0;
		}
	} 
}