.ef5-social{
	margin: 0 -10px;
	> *{
		padding: 0 10px;
	}
	.title-icon {
		padding-right: 10px;
		[dir="rtl"] &{
			padding-right: 0;
			padding-left: 10px;
		}
	}
}

.apsc-icons-wrapper{
	&.apsc-theme-1{
		margin: -5px;
		.apsc-each-profile{
			padding: 5px;
		    min-height: 70px;
    		width: 70px;
    		font-family: $futura-pt-book;
    		a{
    			padding: 22px 5px;
    			color: $primary_color !important;
    			background-color: #fff;
		    	border: $MainBorder;
		    	@include box-shadow('none');
    		}
		}
		.social-icon .fa,.social-icon i{
			font-size: 16px;
			line-height: 24px;
		}
		.apsc-count{
			font-size: 10px;
			line-height: 14px;
			padding: 0;
		}
	} 
}