.ttmn-rate{
	position: relative;
    display: inline-block;
    color: #ffb22d;
    clear: both;
    white-space: nowrap;
    font-size: 13px;
    margin-top: 10px;
	&:before{
		content: "\f005\f005\f005\f005\f005";
		display: block;
		font-family: $FontAwesome;
		font-weight: 400;
		letter-spacing: 1px;
	}
}
.ttmn-rated{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	&:before{
		content: "\f005\f005\f005\f005\f005";
		display: block;
		font-family: $FontAwesome;
		font-weight: 900;
		letter-spacing: 1px;
	}
}
.ef5-testimonial-layout-1{
	.title-read-more{
		margin-bottom: 50px;
	}
	.ef5-svg path{
		fill: $;
	}
	.ttmn-text{
		padding: 35px 40px 65px;
		@media (max-width: 1199px){
			padding: 30px 15px 50px; 
		}
	}
}