.ttmn-rate{
	position: relative;
    display: inline-block;
    color: #ffb22d;
    clear: both;
    white-space: nowrap;
    font-size: 13px;
    margin-top: 10px;
	&:before{
		content: "\f005\f005\f005\f005\f005";
		display: block;
		font-family: $FontAwesome;
		font-weight: 400;
		letter-spacing: 1px;
	}
}
.ttmn-rated{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	&:before{
		content: "\f005\f005\f005\f005\f005";
		display: block;
		font-family: $FontAwesome;
		font-weight: 900;
		letter-spacing: 1px;
	}
}