.ttmn-rate{
	position: relative;
    display: inline-block;
    color: #ffb22d;
    clear: both;
    white-space: nowrap;
    font-size: 13px;
    margin-top: 10px;
	&:before{
		content: "\f005\f005\f005\f005\f005";
		display: block;
		font-family: $FontAwesome;
		font-weight: 400;
		letter-spacing: 1px;
	}
}
.ttmn-rated{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	&:before{
		content: "\f005\f005\f005\f005\f005";
		display: block;
		font-family: $FontAwesome;
		font-weight: 900;
		letter-spacing: 1px;
	}
}
.ef5-testimonial-layout-1{
	.title-read-more{
		margin-bottom: 50px;
	}
	.ef5-svg{
		width: 96px;
	    height: 83px;
	    position: absolute;
	    top: -32px;
	    left: 40px;
	    transform: rotate(180deg);
	    @media (max-width: 1199px){
	    	left: 15px;
	    }
	    path{
			fill: #fff !important;
		}
	} 
	.ttmn-text{
		position: relative;
		padding: 35px 40px 65px;
		@media (max-width: 1199px){
			padding: 30px 15px 50px; 
		}
		p{
			position: relative;
		}
	}
	.tm-avatar{
		position: relative;
		margin-top: -35px;
	}
	.ttmn-name{
		font-weight: 500;
		font-size: 20px;
		line-height: 26px;
	}
	.ttmn-position{
		font-size: 16px;
		line-height: 26px
	}
}