.ef5-el-title{
	.title-icon{
		padding-right: 10px;
		[dir="rtl"] &{
			padding-right: 0;
			padding-left: 10px;
		}
	}
}
@import 'client';
@import 'counter';
@import 'fancy_box';
@import 'heading';
@import 'list';
@import 'newsletter';
@import 'posts';
@import 'quick_contact';
@import 'social';
@import 'video';
@import 'wp_menu';