.ef5-instagram{
    .instagram-item{
        overflow: hidden;
        a{
            padding: 5px;
            color: #fff;
            font-size: 17px;
            font-family: $futura-pt-medium;
            span.fa{
                font-size: 18px;
                margin-right: 2px;
            }
        }
        .overlay{
            background-color: rgba(#000000,0.3);
        }
        .ins-icon{
            display: none;
        }
    }
    .user{
        position: absolute;
        top: 30%;
        left: 46%;
        width: 126px;
        height: 126px;
        background: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9;
    }
}