.ef5-instagram{
    .instagram-item{
        overflow: hidden;
    }
    .overlay{
        background-color: rgba(#000000,0.3);
    }
    a{
        padding: 5px;
        color: #fff;
        font-size: 12px;
        font-family: $futura-pt-medium;
        span.fa{
            font-size: 16px;
        }
    }
    .ins-icon{
        display: none;
    }
}