.widget_theclick_featured_posts{
	.featured-list >div{
		position: relative;
	}
	.fea-item{
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: #fff;
		.ef5-posted-in{
			font-size: 10px;
			line-height: 12px;
			text-transform: uppercase;
			color: $primary_color;
		}
		.fea-item-title{
			font-size: 15px;
			line-height: 19px;
		}
	}
}