.widget.ef5-instagram{
	.user{
		margin-bottom: 20px;
		.user-avatar{
			a{
				overflow: hidden;
				display: block;
			}
			img{
				border-radius: 50%;
				max-width: 56px;
			}
		}
		.user-data{
			a{
				font-weight: 500;
				font-size: 12px;
				line-height: 15px;
				text-transform: uppercase;
				display: block;
			}
			.user-follow{
				font-weight: 500;
				font-size: 10px;
				line-height: 13px;
				text-transform: uppercase;
				color: $lightent_accent_accent;
				margin-top: 6px;
				.following{
					margin-left: 22px;
				}
			}
		}
	}
	.instagram-item{
		.overlay-inner a{
			font-size: 13px;
			span.fa{
				font-size: 16px;
			}
		} 
	}
}