.widget.ef5-instagram{
	.user{
		.user-avatar{
			max-width: 56px;
			width: 56px;
			a{
				overflow: hidden;
				display: block;
			}
			img{
				border-radius: 50%;
				max-width: 56px;
			}
		}
	}
}