.widget_theclick_recent_posts{
	.ef5-posted-in a{
		font-size: 10px;
		font-weight: 500;
		line-height: 12px;
		text-transform: uppercase;
		color: $lightent_accent_accent;
		&:hover{
			color: $primary_color;
		}
	}
	.title-post a{
		font-size: 16px;
		line-height: 21px;
	}
	.layout-2{
		.post-list-entry{
			+.post-list-entry{
				padding-top: 10px;
				margin-top: 10px;
				border-top: 1px solid $MainBorderColor;
			}
		}
		.ef5-brief{
			border-left: 2px solid $primary_color;
			padding-left: 12px;
		}
		
	}
}