/* tags cloud */
.tagcloud {
	margin:-2.5px;
	display: flex;
	flex-wrap: wrap;
	> a{
		background-color: transparent;
	    border: 1px solid #959595;
	    color: #787878;
	    font-size: 13px;
	    margin: 2.5px;
	    padding: 5.5px 12px;
	    flex: 0 0 auto;
	    width: auto;
	    max-width: 100%;
	    @include border-radius(5px);
		&:hover{
			border-color: $accent_color;
			color: $accent_color;
		}
	}
}