.widget_text{
	.textwidget{
		background: $white;
		p {
			font-size: 14px;
			&:empty{
				display: none;
			}
			> strong{
				margin: 15px 0;
				display: inline-block;
				&:first-child{
					margin-top: 0;
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}