#ef5-header-top {
	position: relative;
	z-index: 3;
	font-size: 14px;
	> p.attachment{
		display: none !important;
		position: absolute;
		z-index: -1;
		width: 0;
		height: 0;
		visibility: hidden;
		@include opacity(0);
	}
	.ef5-el-title{
		font-size: 12px;
		.title-icon{
			font-size: 125%;
		}
	}
	a{
		>*{
			line-height: inherit;
		}
		&:hover{
			color: $lightent_accent_accent;
		}
	}
	.ht-separate{
		display: inline-block;
    	margin: 0 -10px;
    	@media (max-width: 767px){
    		text-align: center;
    	}
		span{
			padding: 0 10px;
			position: relative;
			@media (min-width: 768px){
				+span:before{
					content: "";
					height: 14px;
					width: 1px;
					background-color: rgba(255,255,255,0.4);
					position: absolute;
					top: 50%;
					left: -1px;
					margin-top: -7px;
				}
			}
		}
	}
	.widget li{
	    border-bottom: 0;
	    padding: 0;
	    display: inline-flex;
	    a{
	    	padding: 0;
	    	color: inherit;
	    	&:hover{
				color: $lightent_accent_accent;
			}
	    }
	}
	ul.menu{
		margin: 0 -12px;
		li{
			padding: 0 12px;
			a{
				text-transform: uppercase;
				font-size: 11px;
			}
		}
	}
	.woocommerce-currency-switcher-form{
		position: relative;
		&:before{
			content: "\f107";
			font-family: $FontAwesome;
			font-size: 12px;
			font-weight: 400;
			position: absolute;
			right: 0px;
			bottom: 1px;
			color: inherit;
		}
		select{
			background-image: none;
			background-color: transparent;
		    border: 0;
		    color: inherit;
		    padding: 0 17px 0 0;
		    font-size: 14px;
		}
	}
	.select2.select2-container--default .select2-selection--single{
	    border: 0;
	    height: auto;
	    padding: 0 17px 0 0;
	    margin: 0;
	    background-color: transparent;
	    border-radius: 0;
	}
	.select2.select2-container--default .select2-selection--single .select2-selection__rendered{
	    padding: 0;
	    color: inherit;
   		line-height: 22px;
	}
	.select2.select2-container--default .select2-selection--single .select2-selection__arrow{
		display: none;
	}

	.wpml-ls-legacy-dropdown{
		width: auto;
		a{
			background-color: transparent;
			border: 0;
		}
	}
}
