.select2.select2-container--default {
	.select2-selection--single{
		border: $FF_Border;
		height: 56px;
		padding: $FF_Spacing;
		margin: 0;
		background-color: $FF_Background;
		@include border-radius($FF_BorderRadius);
		.select2-selection__rendered{
			padding: 0;
		}
		.select2-selection__arrow{
			right: 20px;
			top:50%;
			@include transform(translateY(-50%));
			[dir="rtl"] & {
				right: auto;
				left: 20px;
			}
		}
	}
}
.select2-container {
	.select2-dropdown{
		border-color: $FF_BorderColor;
		@include border-radius($FF_BorderRadius);
		min-width: 75px;
	}
	.select2-dropdown--below {
	    border-top-left-radius: 0;
	    border-top-right-radius: 0;
	}
	.select2-dropdown--above {
	    border-bottom-left-radius: 0;
	    border-bottom-right-radius: 0;
	}
}
.select2-search--dropdown{
	display: none;
}
.select2-container--default .select2-results__options li{
	@include transition(all .3s linear 0s);
	&:hover{
		color: $lightent_accent_accent;
	}
	+li{
		border-top: 1px solid $FF_BorderColor;
	}
} 
.select2-container--default .select2-results__option[aria-selected=true], 
.select2-container--default .select2-results__option[data-selected=true]{
	background-color: #fff;
	color: $primary_color;
}
.select2-container.select2-container--headertop{
	.select2-dropdown{
		background-color: $primary_color;
		border-color: $primary_color;
	}
}