$FF_placeholder_color: #787878;
$FF_Background: $white;
$FF_BorderW: 1px;
$FF_BorderStyle: solid;
$FF_BorderColor: #c0c0c0;
$FF_BorderColorHover: $accent_color;
$FF_Border: $FF_BorderW $FF_BorderStyle $FF_BorderColor;
$FF_BorderRadius : 0;
$FF_Spacing: 7px 20px;
$FF_Select_BG: url('../images/ff-select-arrow.png');
$FF_FontSize: 13px;