$FF_placeholder_color: #888888;
$FF_Background: $white;
$FF_BorderW: 1px;
$FF_BorderStyle: solid;
$FF_BorderColor: #dbdbdb;
$FF_BorderColorHover: $primary_color;
$FF_Border: $FF_BorderW $FF_BorderStyle $FF_BorderColor;
$FF_BorderRadius : 2px;
$FF_Spacing: 7px 20px;
$FF_Select_BG: url('../images/ff-select-arrow.png');
$FF_FontSize: 15px;