.header-layout-13{
	.ef5-menu > li > a{
		font-size: 13px;
		text-transform: uppercase;
		&:after{
			display: block;
		}
	}
	.menu-default{
        > li {
			&:hover{
		    	> a{
		    		color: $header_regular;
		        	&:after{
		        		background-color: $header_regular;
		        	}
		        }
		    }
		    &.current_page_item,
		    &.current-menu-item,
		    &.current_page_ancestor,
		    &.current-menu-ancestor{
		       > a{
		       		color: $header_regular;
		           	&:after{
		                background-color: $header_regular;
		            }
		        }
		    }
		}
	}
	@media (min-width: 768px){
		.ef5-header-menu > li{
		    padding: 0px 18px;
		}
	}
	@media (max-width: 1199px){
		.header-inner-wrap{
			padding: 8px 0;
		}
	}
}