.header-layout-2{
	@media( min-width: $screen-xl-min ) {
		.ef5-header-left{
			flex-basis: 0;
		    flex-grow: 1;
		    max-width: 100%;
		}
	}
	.ef5-header-left .header-extra-icon{
		margin-right: 15px;
	}
}