.header-layout-13{
	.ef5-menu > li > a{
		font-size: 13px;
		text-transform: uppercase;
		@media( min-width: $screen-xl-min ) {
			height: 92px;
		}
		&:after{
			display: block;
		}
	}
	@media( min-width: $screen-xl-min ) {
		.menu-default{
	        > li {
				&:hover{
			    	> a{
			    		color: $header_regular;
			        	&:after{
			        		background-color: $header_regular;
			        	}
			        }
			    }
			    &.current_page_item,
			    &.current-menu-item,
			    &.current_page_ancestor,
			    &.current-menu-ancestor{
			       > a{
			       		color: $header_regular;
			           	&:after{
			                background-color: $header_regular;
			            }
			        }
			    }
			}
		}
	}
	@media (min-width: 768px){
		.ef5-header-menu > li{
		    padding: 0px 18px;
		}
	}
	.ef5-search-toggle .link-search-toggle{
		svg{
			float: right;
		}
		span{
			margin-left: 0;
			margin-right: 12px;
		}
	}
	.ef5-search-toggle .search-form{
		right: 0;
	}
	.ef5-search-toggle .link-search-toggle.clicked + .search-form .searchform-wrap .search-field{
	    padding: 10px 30px 10px 10px;
	}
	.ef5-search-toggle .searchform-wrap .search-submit{
	    left: auto;
    	right: 0;
	}
	&.header-sticky{
		.search-form .searchform-wrap .search-field{
			background-color: $primary;
		}
		.ef5-search-toggle .searchform-wrap .search-submit{
			right: 10px;
		}
	} 
	.nav-extra{
		@media (min-width: 1200px){
			margin: 0 -30px;
			.header-social-counter {
			    padding: 0 30px;
			}
			.header-icon{
				padding: 0 30px;
			}
		}
		.header-icon{
			@media (min-width: 992px){
				&:before{
					content: "";
					position: absolute;
					left: 0;
					width: 1px;
					height: 30px;
					background-color: $MainBorderColor;
				}
			}
		}
	} 
}