.header-layout-1{
	@media( min-width: $screen-xl-min ) {
		.nav-extra{
			>*{
				&:first-child{
					margin-left: 60px;
					position: relative;
					&:before{
						content: "";
						width: 1px;
						height: 30px;
						background: $MainBorderColor;
						position: absolute;
						left: -16px;
						top: calc(50% - 15px);
					}
				}
			}
		}
		#ef5-main-sidenav{
			margin-right: 10px;
		}
	}
}