.header-icon{
    .header-count{
        min-width: 18px;
        height: 18px;
        line-height: 18px;
        font-size: 11px;
        padding: 0;
        color: $white;
        background: $primary_color;
        display: inline-block;
        margin-left: 9px;
        @include border-radius(50%);
        [dir="rtl"] &{
            margin-right: 9px;
        }
    }
}
.ef5-cart-toggle{
    .ef5-cartform{
        background: #fff;
        width: 260px;
        display: none;
        position: absolute;
        z-index: 999;
        right: 0;
        top: 50px;
        [dir="rtl"] &{
        	right: auto;
        	left: 0;
        }
    }
    .widget_shopping_cart{
        margin: 0;
        padding: 15px;
        p{
            margin-bottom: 0;
        }
    }
}

.nav-extra{
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
	.header-icon{
	    padding: 5px 15px;
        text-align: center;
        font-size: 16px;
        line-height: 16px;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
        position: relative;
        @media (max-width: $screen-sm-max){
            padding: 0 8px;
        }
        .icon{
            @include center-align(relative);
        }
		&:hover{
			color: $accent_color;
		}
        &.has-badge{
            .icon{
                padding-right: 15px;
                [dir="rtl"] &{
                    padding-right: 0;
                    padding-left: 15px;
                }
            }
        }
        svg{
            float: left;
        }
        .fa,.fal{
            font-size: 18px;
            font-weight: 400;
        }
    }
    .wooscp-menu-item .wooscp-menu-item-inner:after{
        background-color: transparent;
        color: #ffffff;
        font-size: 11px;
        font-weight: 400;
        width: 18px;
        height: 18px;
        line-height: inherit;
        text-align: center;
        border-radius: 9px;
        position: relative;
        top: 0;
        right: 0;
    }
    .flex_authenticate,.flex_logout{
        padding: 5px 15px;
        text-align: center;
        font-size: 14px;
        line-height: 16px;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
        position: relative;
        @media (max-width: $screen-sm-max){
            padding: 0 8px;
        }
    }
}
.header-extra-icon{
    padding: 5px 15px;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}