#ef5-header-wrap{
	position: relative;
}
.ef5-header{
	background-color: $header_bg_color;
	@include transition(all 0.5s);
}
.header-default{
	color: $header_text_color;
}
.main-header{
	position: relative;
	@media (min-width: 1430px){
		.no-container{
			padding-left: 60px;
			padding-right: 60px;
		}
	}
}
@import 'header_layout1';
@import 'header_layout2';
@import 'header_layout3';
@import 'header_layout4';
@import 'header_layout5';
@import 'header_layout6';
@import 'header_layout7';
@import 'header_layout8';
@import 'header_layout12';
@import 'header_layout13';
@import 'header_layout14';
@import 'header_ontop';
@import 'header_sticky';
@import 'icons';
@import 'logo';
@import 'sidenav';

