.ef5-footer-area {
	ul, ol{
		list-style: none;
	}
	p{
		font-size: 14px;
	}  
	.widgettitle{
		margin-top: 0;
		margin-bottom: 17px;
		font-size: 20px;
		line-height: 26px;
		font-family: $futura-pt-medium;
	}
	.widget li{
		border-bottom: 0;
		>a{
		    padding: 5.5px 0;
		}
	}
	.ef5-social{
		font-size: 14px;
		margin: 0 -14px;
		> * {
		    padding: 0 14px;
		}
	}
	.footer-bottom{
		ul.menu{
			display: flex;
			flex-wrap: wrap;
			margin: 0 -14px;
			font-size: 14px;
			@media (max-width: 400px){
				margin: 0 -10px;
			}
			>li{
				padding: 0 14px;
				@media (max-width: 400px){
					padding: 0 10px;
				}
			}
		}
		.widget li > a{
			padding: 0;
		}
	} 
	.woocommerce-currency-switcher-form{
		select{
			background-image: none;
			background-color: transparent;
		    border: 0;
		    color: inherit;
		    padding: 0 17px 0 0;
		    font-size: 14px;
		}
	}
	.select2-container{
		vertical-align: top;
		@include transition(all .3s linear 0s);
		&:hover{
			color: $accent_color;
		}
	}
	.select2.select2-container .select2-selection--single{
	    border: 0;
	    height: auto;
	    padding: 0 17px 0 0;
	    margin: 0;
	    background-color: transparent;
	    border-radius: 0;
	    position: relative;
	    &:before{
			content: "\f107";
			font-family: $FontAwesome;
			font-size: 12px;
			font-weight: 400;
			position: absolute;
			right: 0px;
			bottom: 4px;
			line-height: 1;
			color: inherit;
		}
	}
	.select2.select2-container .select2-selection--single .select2-selection__rendered{
	    padding: 0;
	    color: inherit;
   		line-height: 22px;
	}
	.select2.select2-container .select2-selection--single .select2-selection__arrow{
		display: none;
	}

	.wpml-ls-legacy-dropdown{
		width: auto;
		a{
			background-color: transparent;
			border: 0;
		    padding: 0 17px 0 0;
    		line-height: 22px;
			&.wpml-ls-item-toggle{
				position: relative;
				&:after{
				    vertical-align: middle;
				    display: inline-block;
				    border: 0;
				    border-top: 0;
				    content: "\f107";
				    font-family: 'Font Awesome 5 Pro';
				    font-size: 12px;
				    font-weight: 400;
				    position: absolute;
				    top: 6px;
				    right: 0px;
				    bottom: 1px;
				    line-height: 1;
				    color: inherit;
				}
			}
			&:hover,&:focus{
				color: $accent_color;
				background-color: transparent;
			}
			span {
			    vertical-align: inherit;
			} 
		}
		.wpml-ls-current-language{
			&:hover,
			&:focus{
				>a{
					color: $accent_color;
					background-color: transparent;
				}
				.wpml-ls-sub-menu{
					top: 100%;
					visibility: visible;
					opacity: 1;
				}
			}
		}
		.wpml-ls-sub-menu{
			border-top: 0;
			background: #fff;
		    min-width: 100px;
		    padding: 10px 15px;
		    top: calc(100% + 10px);
		    visibility: hidden;
		    opacity: 0;
		    @include transition(all .3s linear 0s);
		    .wpml-ls-item{
				padding: 3px 0;
				line-height: 24px;
				.wpml-ls-display{
					display: none;
				}
			}
		}
		 
	}
}
.ef5-footer-default{
	background: $primary_color;
	padding: 50px 0;
	color: $white;
	a{
		color: $accent_color;
		&:hover{
			color: $white;
		}
	}
}
.footer-default{
	color: #eee8d9;
	a{
		color: #eee8d9;
		&:hover{
			color: $accent_color;
		}
	}
}
.footer-info{
	.fi-add{
		font-size: 30px;
		font-family: $futura-pt-medium;
		line-height: 48px;
		margin-bottom: 29px;
	}
	.fi-email{
		font-size: 20px;
		line-height: 29px;
	}
	.fi-phone{
		font-size: 20px;
		line-height: 29px;
	}
}
.footer-2{
	.footer-bottom{
		ul.menu{
			justify-content: center;
		}
	}
}