.ef5-footer-default{
	background: $primary_color;
	padding: 50px 0;
	color: $white;
	a{
		color: $accent_color;
		&:hover{
			color: $white;
		}
	}
}

.ef5-footer-area {
	ul, ol{
		list-style: none;
	}
	  
	.widgettitle{
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 20px;
		font-family: $futura-pt-medium;
	}
	.widget li{
		border-bottom: 0;
		>a{
		    padding: 5.5px 0;
		}
	}
}

.footer-default{
	color: #eee8d9;
	a{
		color: #eee8d9;
		&:hover{
			color: $accent_color;
		}
	}
}