    /*
    Flaticon icon font: Flaticon
    Creation date: 01/10/2019 02:58
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-add-button:before { content: "\f100"; }
.flaticon-chandelier:before { content: "\f101"; }
.flaticon-call-answer:before { content: "\f102"; }
.flaticon-angle-pointing-to-left:before { content: "\f103"; }
.flaticon-angle-arrow-pointing-to-right:before { content: "\f104"; }
.flaticon-headphone-symbol:before { content: "\f105"; }
.flaticon-plus-sign:before { content: "\f106"; }
.flaticon-minus-straight-horizontal-line-sign:before { content: "\f107"; }
.flaticon-world:before { content: "\f108"; }
.flaticon-cloud-download:before { content: "\f109"; }
.flaticon-shopping-cart:before { content: "\f10a"; }
.flaticon-go-back-left-arrow:before { content: "\f10b"; }
.flaticon-right-arrow-forward:before { content: "\f10c"; }
.flaticon-calendar:before { content: "\f10d"; }
.flaticon-left-arrow:before { content: "\f10e"; }
.flaticon-user-silhouette:before { content: "\f10f"; }
.flaticon-christian-church:before { content: "\f110"; }
.flaticon-arrow-pointing-to-right:before { content: "\f111"; }
.flaticon-upload:before { content: "\f112"; }
.flaticon-religion:before { content: "\f113"; }
.flaticon-faith:before { content: "\f114"; }
.flaticon-play-button:before { content: "\f115"; }
.flaticon-coin:before { content: "\f116"; }
.flaticon-magnifying-glass:before { content: "\f117"; }
.flaticon-placeholder:before { content: "\f118"; }
.flaticon-upload-1:before { content: "\f119"; }
.flaticon-upload-2:before { content: "\f11a"; }
.flaticon-share:before { content: "\f11b"; }
.flaticon-groceries:before { content: "\f11c"; }
.flaticon-cross:before { content: "\f11d"; }
.flaticon-cloud-computing:before { content: "\f11e"; }
.flaticon-like:before { content: "\f11f"; }
.flaticon-placeholder-1:before { content: "\f120"; }
.flaticon-play-button-1:before { content: "\f121"; }
.flaticon-share-1:before { content: "\f122"; }
.flaticon-close:before { content: "\f123"; }
.flaticon-open-book:before { content: "\f124"; }
.flaticon-donation:before { content: "\f125"; }
.flaticon-donation-1:before { content: "\f126"; }
.flaticon-charity:before { content: "\f127"; }
.flaticon-pdf:before { content: "\f128"; }
.flaticon-coin-1:before { content: "\f129"; }
.flaticon-care:before { content: "\f12a"; }
.flaticon-maps-and-flags:before { content: "\f12b"; }
.flaticon-team:before { content: "\f12c"; }
.flaticon-pdf-1:before { content: "\f12d"; }
.flaticon-charity-1:before { content: "\f12e"; }
.flaticon-heart:before { content: "\f12f"; }
.flaticon-church:before { content: "\f130"; }
.flaticon-calendar-1:before { content: "\f131"; }
.flaticon-church-1:before { content: "\f132"; }
.flaticon-heart-1:before { content: "\f133"; }
.flaticon-water-bottle:before { content: "\f134"; }
.flaticon-planet-earth:before { content: "\f135"; }
.flaticon-download:before { content: "\f136"; }
.flaticon-headphones:before { content: "\f137"; }
.flaticon-holy-star-1:before { content: "\f138"; }
.flaticon-holy-star-2:before { content: "\f139"; }
.flaticon-heart-2:before { content: "\f13a"; }
.flaticon-candlestick:before { content: "\f13b"; }
.flaticon-shopping-cart-1:before { content: "\f13c"; }
.flaticon-candlestick-1:before { content: "\f13d"; }
.flaticon-heart-3:before { content: "\f13e"; }
.flaticon-add-button-1:before { content: "\f13f"; }
.flaticon-remove:before { content: "\f140"; }
.flaticon-remove-1:before { content: "\f141"; }
    
    $font-Flaticon-add-button: "\f100";
    $font-Flaticon-chandelier: "\f101";
    $font-Flaticon-call-answer: "\f102";
    $font-Flaticon-angle-pointing-to-left: "\f103";
    $font-Flaticon-angle-arrow-pointing-to-right: "\f104";
    $font-Flaticon-headphone-symbol: "\f105";
    $font-Flaticon-plus-sign: "\f106";
    $font-Flaticon-minus-straight-horizontal-line-sign: "\f107";
    $font-Flaticon-world: "\f108";
    $font-Flaticon-cloud-download: "\f109";
    $font-Flaticon-shopping-cart: "\f10a";
    $font-Flaticon-go-back-left-arrow: "\f10b";
    $font-Flaticon-right-arrow-forward: "\f10c";
    $font-Flaticon-calendar: "\f10d";
    $font-Flaticon-left-arrow: "\f10e";
    $font-Flaticon-user-silhouette: "\f10f";
    $font-Flaticon-christian-church: "\f110";
    $font-Flaticon-arrow-pointing-to-right: "\f111";
    $font-Flaticon-upload: "\f112";
    $font-Flaticon-religion: "\f113";
    $font-Flaticon-faith: "\f114";
    $font-Flaticon-play-button: "\f115";
    $font-Flaticon-coin: "\f116";
    $font-Flaticon-magnifying-glass: "\f117";
    $font-Flaticon-placeholder: "\f118";
    $font-Flaticon-upload-1: "\f119";
    $font-Flaticon-upload-2: "\f11a";
    $font-Flaticon-share: "\f11b";
    $font-Flaticon-groceries: "\f11c";
    $font-Flaticon-cross: "\f11d";
    $font-Flaticon-cloud-computing: "\f11e";
    $font-Flaticon-like: "\f11f";
    $font-Flaticon-placeholder-1: "\f120";
    $font-Flaticon-play-button-1: "\f121";
    $font-Flaticon-share-1: "\f122";
    $font-Flaticon-close: "\f123";
    $font-Flaticon-open-book: "\f124";
    $font-Flaticon-donation: "\f125";
    $font-Flaticon-donation-1: "\f126";
    $font-Flaticon-charity: "\f127";
    $font-Flaticon-pdf: "\f128";
    $font-Flaticon-coin-1: "\f129";
    $font-Flaticon-care: "\f12a";
    $font-Flaticon-maps-and-flags: "\f12b";
    $font-Flaticon-team: "\f12c";
    $font-Flaticon-pdf-1: "\f12d";
    $font-Flaticon-charity-1: "\f12e";
    $font-Flaticon-heart: "\f12f";
    $font-Flaticon-church: "\f130";
    $font-Flaticon-calendar-1: "\f131";
    $font-Flaticon-church-1: "\f132";
    $font-Flaticon-heart-1: "\f133";
    $font-Flaticon-water-bottle: "\f134";
    $font-Flaticon-planet-earth: "\f135";
    $font-Flaticon-download: "\f136";
    $font-Flaticon-headphones: "\f137";
    $font-Flaticon-holy-star-1: "\f138";
    $font-Flaticon-holy-star-2: "\f139";
    $font-Flaticon-heart-2: "\f13a";
    $font-Flaticon-candlestick: "\f13b";
    $font-Flaticon-shopping-cart-1: "\f13c";
    $font-Flaticon-candlestick-1: "\f13d";
    $font-Flaticon-heart-3: "\f13e";
    $font-Flaticon-add-button-1: "\f13f";
    $font-Flaticon-remove: "\f140";
    $font-Flaticon-remove-1: "\f141";