p {
	@include font-smoothing();
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
    padding: 27px 20px 27px 88px !important;
    margin: 30px 0;
    border: 2px solid $accent_color;
    font-size: $BodyFontSizeL;
    line-height: $BodyFontSizeL + 10px;
    font-weight: 600;
    color: $HeadingColor;
    position: relative;
    display: block !important;
    clear: both;
    &:before{
    	@include quote-icon();
        position: absolute;
        top: 32px;
        left: 28px;
    }
    [dir="rtl"] & {
    	padding-right: 88px;
    	padding-left: 20px;
    	&:before{
    		left: auto;
    		right: 28px;
    		@include transform(rotateY(180deg));
    	}
    }
}

pre {
	font-size: $BodyFontSizeS;
	overflow: auto;
    background: #f5f5f5;
    padding: 15px;
}

code,
kbd,
tt,
var {
	font-size: $BodyFontSizeXXS;
}
code{
	padding: 2px 4px;
    color: #c7254e;
    //background-color: #f9f2f4;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
}


abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	text-decoration: none;
}

mark{
    background: #fff9c0;
}

big {
	font-size: 125%;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
}
