h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h4-1, .h5, .h6,
.ef5-heading{
	font-family: $HeadingFont;
	font-weight: $HeadingFontW;
	color: $HeadingColor;
	a{
		color: inherit;
		line-height: unset;
		&:hover{
			color: $link_color_hover;
		}
	}
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h4-1, .h5, .h6{
	line-height: 1.2;
}
h1, h2, h3, h4, h5, h6{
	margin: $grid-gutter-width/2 0;
}
.h1, .h2, .h3, .h4, .h5, .h6,
.ef5-heading{
	margin: 0;
}

h1, .h1, .size-h1{
	font-size: $H1Size;
}
h2, .h2, .size-h2{
	font-size: $H2Size;
}
h3, .h3, .size-h3{
	font-size: $H3Size;
}
h4, .h4, .size-h4{
	font-size: $H4Size;
}
.h4-1{
	font-size: $H4Size + 2;
}
h5, .h5, .size-h5{
	font-size: $H5Size;
}
h6, .h6, .size-h6{
	font-size: $H6Size;
}
