/**
 * Text Size
 * 1-Font Size 2-Line Height
*/
$text-sizes: (
	12,
	13,
	14,
	15,
	18,
	20,
	22 1.45454545,
	30 1.2,
	34,
	36 1.47222222,
	40 1.175,
	48 1.5,
	56
);
// Line Height
$line-heights: (
	'1\/175': '1.175',
	'1\/6': '1.6',
	'1\/33333333,': '1.33333333',
	'18,': '18px',
	'46': '46px'
);

@each $breakpoint in map-keys($grid-breakpoints) {
	$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
	@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
		// Text sizes
		@each $size in $text-sizes{
			.text#{$infix}-#{nth($size, 1)}{
				font-size: #{nth($size, 1)}px;
				@if(nth($size, 2) != ''){
					line-height: nth($size, 2);
				}
			}
		}
		// Line Height
		@each $line-height, $line-height-value in $line-heights{
			.lh#{$infix}-#{$line-height}{
				line-height: #{$line-height-value};
			}
		}
	}
}
